flows_raspberrypi.json
[{"id":"d452e8ea.f65308","type":"tab","label":"myhome","disabled":false,"info":""},{"id":"b1723f44.54ecb","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"5c2a57a.39a4fa8","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"d995f01d.eeabe","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"6d5d992d.6206c8","type":"mqtt-broker","z":"","name":"Mosquitto","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"ff2a4590.cacc08","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"c1233c9d.822f","type":"ui_group","z":"","name":"PWM","tab":"ff2a4590.cacc08","disp":true,"width":"6","collapse":false},{"id":"5acda325.99c72c","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"adc","name":"adc","usetls":false,"tls":""},{"id":"c9ba0e9a.54f65","type":"influxdb","z":"5c2a57a.39a4fa8","hostname":"127.0.0.1","port":"8086","database":"aTimeSeries","name":"aTimeSeries"},{"id":"78d1afd5.ead8f","type":"influxdb","z":"5c2a57a.39a4fa8","hostname":"127.0.0.1","port":"8086","database":"test","name":"test","usetls":false,"tls":""},{"id":"f5f24bed.d87708","type":"influxdb","z":"5c2a57a.39a4fa8","hostname":"127.0.0.1","port":"8086","database":"aTimeSeries","name":"aTimeSeries","usetls":false},{"id":"b420a598.f18178","type":"influxdb","z":"5c2a57a.39a4fa8","hostname":"127.0.0.1","port":"8086","database":"aTimeSeries","name":"aTimeSeries","usetls":false},{"id":"fff3774d.8ab808","type":"influxdb","z":"5c2a57a.39a4fa8","hostname":"127.0.0.1","port":"8086","database":"aTimeSeries","name":"aTimeSeries"},{"id":"f517e534.921ff8","type":"influxdb","z":"","hostname":"localhost","port":"8086","protocol":"https","database":"new_db","name":"","usetls":true,"tls":"ece5be85.8a467"},{"id":"ece5be85.8a467","type":"tls-config","z":"","name":"local-tls","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","verifyservercert":false},{"id":"a060f00.6d6fb1","type":"http in","z":"d452e8ea.f65308","name":"","url":"/myhome","method":"post","upload":false,"swaggerDoc":"","x":100,"y":200,"wires":[["7da6c7ad.224e78"]]},{"id":"7da6c7ad.224e78","type":"switch","z":"d452e8ea.f65308","name":"not ping","property":"payload.request.command","propertyType":"msg","rules":[{"t":"neq","v":"ping","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":300,"y":260,"wires":[["4425036a.4f2f5c"]]},{"id":"ff6f0d11.a09","type":"debug","z":"d452e8ea.f65308","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1010,"y":480,"wires":[]},{"id":"d9f68ba5.57b518","type":"http response","z":"d452e8ea.f65308","name":"","statusCode":"","headers":{},"x":1970,"y":300,"wires":[]},{"id":"9e797367.7ef85","type":"debug","z":"d452e8ea.f65308","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":690,"y":180,"wires":[]},{"id":"33a990e9.18ee","type":"switch","z":"d452e8ea.f65308","name":"user","property":"payload.session.user_id","propertyType":"msg","rules":[{"t":"eq","v":"myhome.userId[0]","vt":"flow"},{"t":"eq","v":"myhome.userId[1]","vt":"flow"},{"t":"eq","v":"myhome.userId[2]","vt":"flow"},{"t":"else"}],"checkall":"true","repair":false,"outputs":4,"x":710,"y":260,"wires":[["76d25f78.4ebcd"],["76d25f78.4ebcd"],["76d25f78.4ebcd"],["fe996ea6.951e2","98c3710c.71ddb"]]},{"id":"fe996ea6.951e2","type":"template","z":"d452e8ea.f65308","name":"go away","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \"response\": {\n    \"text\": \"{{payload.const.intruderText}}\",\n    \"end_session\": false\n        },\n    \"session\": {\n        \"session_id\": \"{{payload.session.session_id}}\",\n        \"message_id\": 4,\n        \"user_id\": \"{{payload.session.user_id}}\"\n        },\n    \"version\": \"1.0\"\n}","output":"json","x":1500,"y":340,"wires":[["d9f68ba5.57b518"]]},{"id":"76d25f78.4ebcd","type":"switch","z":"d452e8ea.f65308","name":"entity","property":"payload.request.command","propertyType":"msg","rules":[{"t":"cont","v":"myhome.entities.Lamp","vt":"flow"},{"t":"cont","v":"myhome.entities.Close","vt":"flow"},{"t":"empty"},{"t":"else"}],"checkall":"true","repair":false,"outputs":4,"x":910,"y":180,"wires":[["89515802.ab0a78"],["a428b3ee.ab5d6","98c3710c.71ddb"],["e906be5e.2d0c6","efb4d9be.05cdb8"],["12e848ae.b275a7","f172f77b.3f5fa8"]]},{"id":"89515802.ab0a78","type":"switch","z":"d452e8ea.f65308","name":"turn on/off","property":"payload.request.command","propertyType":"msg","rules":[{"t":"cont","v":"включ","vt":"str"},{"t":"cont","v":"выключ","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1080,"y":100,"wires":[["921061a3.52832","1b04e6c9.6ad999"],["a35e61dd.8213","44676f51.b5c8"]]},{"id":"cd5b9c65.e46e4","type":"template","z":"d452e8ea.f65308","name":"turn on","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \"response\": {\n    \"text\": \"{{payload.const.turnOnText}}\",\n    \"end_session\": false\n        },\n    \"session\": {\n        \"session_id\": \"{{payload.session.session_id}}\",\n        \"message_id\": 4,\n        \"user_id\": \"{{payload.session.user_id}}\"\n        },\n    \"version\": \"1.0\"\n}","output":"json","x":1720,"y":80,"wires":[["d9f68ba5.57b518"]]},{"id":"12e848ae.b275a7","type":"template","z":"d452e8ea.f65308","name":"not found","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \"response\": {\n    \"text\": \"{{payload.const.notFoundText}}\",\n    \"end_session\": false\n        },\n    \"session\": {\n        \"session_id\": \"{{payload.session.session_id}}\",\n        \"message_id\": 4,\n        \"user_id\": \"{{payload.session.user_id}}\"\n        },\n    \"version\": \"1.0\"\n}","output":"json","x":1500,"y":300,"wires":[["d9f68ba5.57b518"]]},{"id":"7a617d4c.2b2b34","type":"template","z":"d452e8ea.f65308","name":"turn off","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \"response\": {\n    \"text\": \"{{payload.const.turnOffText}}\",\n    \"end_session\": false\n        },\n    \"session\": {\n        \"session_id\": \"{{payload.session.session_id}}\",\n        \"message_id\": 4,\n        \"user_id\": \"{{payload.session.user_id}}\"\n        },\n    \"version\": \"1.0\"\n}","output":"json","x":1710,"y":140,"wires":[["d9f68ba5.57b518"]]},{"id":"bc6ca9aa.0ee378","type":"template","z":"d452e8ea.f65308","name":"Settings object","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \"helloWord\": \"Здравствуйте, дом приветствует вас!\",\n    \"intruderText\": \"Что-то не похож ты на моего хозяина. А ну-ка вон отсюда!\",\n    \"notFoundText\": \"Устройство не найдено!\",\n    \"overSpeech\": \"Пока, пока\",\n    \"userId\": [\"00023C4E21BEB515A93DC99824FDE96B59F2A7FD69F40E4BCC645E7D8FB37CFD\",\n               \"95F6936A770A9DD5DC4A1DC3BA63049E7DA4FC1AD90E2DB77DA108B1D8CBF6E5\",\n               \"673E752B3F689338D0DBCCF6425D9187A3CFD4CD072CA4C0639FF80AAEB45AA1\"],\n    \"turnOnText\": \"Включаю\",\n    \"turnOffText\": \"Выключаю\",\n    \"turnOnTooText\": \"Уже включен\",\n    \"turnOffTooText\": \"Уже выключен\",\n    \"entities\": {\n        \"Lamp\": \"свет\",\n        \"Close\": \"до свидан\"\n    }\n}\n","output":"json","x":440,"y":120,"wires":[["2c690434.a8820c"]]},{"id":"e906be5e.2d0c6","type":"template","z":"d452e8ea.f65308","name":"hello word","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \"response\": {\n    \"text\": \"{{payload.const.helloWord}}\",\n    \"end_session\": false\n        },\n    \"session\": {\n        \"session_id\": \"{{payload.session.session_id}}\",\n        \"message_id\": 4,\n        \"user_id\": \"{{payload.session.user_id}}\"\n        },\n    \"version\": \"1.0\"\n}","output":"json","x":1510,"y":260,"wires":[["d9f68ba5.57b518"]]},{"id":"dc85d514.034af8","type":"inject","z":"d452e8ea.f65308","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"10","x":250,"y":120,"wires":[["bc6ca9aa.0ee378","e785471c.8265d8","e787ab9.a032058"]]},{"id":"2c690434.a8820c","type":"function","z":"d452e8ea.f65308","name":"Settings myhome","func":"flow.set(\"myhome\", msg.payload)","outputs":1,"noerr":0,"x":650,"y":120,"wires":[[]]},{"id":"4425036a.4f2f5c","type":"function","z":"d452e8ea.f65308","name":"Settings const","func":"msg.payload.const = flow.get(\"myhome\")\nreturn msg","outputs":1,"noerr":0,"x":500,"y":260,"wires":[["9e797367.7ef85","33a990e9.18ee"]]},{"id":"9cbe97ea.488a68","type":"comment","z":"d452e8ea.f65308","name":"Задаем наши статичные параметры (не забываем после изменения нажимать на синюю кнопку timestamp)","info":"","x":460,"y":80,"wires":[]},{"id":"dfdc9e0e.aef12","type":"debug","z":"d452e8ea.f65308","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1990,"y":460,"wires":[]},{"id":"921061a3.52832","type":"template","z":"d452e8ea.f65308","name":"Включить","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Включить","output":"str","x":1500,"y":420,"wires":[["dfdc9e0e.aef12"]]},{"id":"a35e61dd.8213","type":"template","z":"d452e8ea.f65308","name":"Выключить","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Выключить","output":"str","x":1510,"y":460,"wires":[["dfdc9e0e.aef12"]]},{"id":"efb4d9be.05cdb8","type":"template","z":"d452e8ea.f65308","name":"Привет","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Привет","output":"str","x":1500,"y":500,"wires":[["dfdc9e0e.aef12"]]},{"id":"f172f77b.3f5fa8","type":"template","z":"d452e8ea.f65308","name":"не найдено","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"не найдено","output":"str","x":1510,"y":540,"wires":[["dfdc9e0e.aef12"]]},{"id":"98c3710c.71ddb","type":"template","z":"d452e8ea.f65308","name":"Прощай","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Прощай","output":"str","x":1500,"y":580,"wires":[["dfdc9e0e.aef12"]]},{"id":"e785471c.8265d8","type":"debug","z":"d452e8ea.f65308","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":490,"y":200,"wires":[]},{"id":"1b04e6c9.6ad999","type":"switch","z":"d452e8ea.f65308","name":"Lamp is on/off","property":"lamp","propertyType":"flow","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":1280,"y":60,"wires":[["6aecfd2d.6f5874"],["48fa59c.ab720a8"]]},{"id":"6aecfd2d.6f5874","type":"template","z":"d452e8ea.f65308","name":"turn on too","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \"response\": {\n    \"text\": \"{{payload.const.turnOnTooText}}\",\n    \"end_session\": false\n        },\n    \"session\": {\n        \"session_id\": \"{{payload.session.session_id}}\",\n        \"message_id\": 4,\n        \"user_id\": \"{{payload.session.user_id}}\"\n        },\n    \"version\": \"1.0\"\n}","output":"json","x":1510,"y":40,"wires":[["d9f68ba5.57b518"]]},{"id":"86f6f3ee.b6aad","type":"template","z":"d452e8ea.f65308","name":"turn off too","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \"response\": {\n    \"text\": \"{{payload.const.turnOffTooText}}\",\n    \"end_session\": false\n        },\n    \"session\": {\n        \"session_id\": \"{{payload.session.session_id}}\",\n        \"message_id\": 4,\n        \"user_id\": \"{{payload.session.user_id}}\"\n        },\n    \"version\": \"1.0\"\n}","output":"json","x":1510,"y":180,"wires":[["d9f68ba5.57b518"]]},{"id":"44676f51.b5c8","type":"switch","z":"d452e8ea.f65308","name":"Lamp is on/off","property":"lamp","propertyType":"flow","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":1280,"y":160,"wires":[["8d30ae9f.b5764"],["86f6f3ee.b6aad"]]},{"id":"8d30ae9f.b5764","type":"change","z":"d452e8ea.f65308","name":"Lamp set Off","rules":[{"t":"set","p":"lamp","pt":"flow","to":"false","tot":"bool"},{"t":"set","p":"url","pt":"msg","to":"http://192.168.1.71/gpio?st=0&pin=15","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1510,"y":140,"wires":[["7a617d4c.2b2b34","5bc185b6.a2620c"]]},{"id":"48fa59c.ab720a8","type":"change","z":"d452e8ea.f65308","name":"Lamp set On","rules":[{"t":"set","p":"lamp","pt":"flow","to":"true","tot":"bool"},{"t":"set","p":"url","pt":"msg","to":"http://192.168.1.71/gpio?st=1&pin=15","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1510,"y":80,"wires":[["cd5b9c65.e46e4","5bc185b6.a2620c"]]},{"id":"90c08ca1.3fbf2","type":"debug","z":"d452e8ea.f65308","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1930,"y":660,"wires":[]},{"id":"c3df99b5.f54828","type":"inject","z":"d452e8ea.f65308","name":"","topic":"","payload":"lamp","payloadType":"flow","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1500,"y":660,"wires":[["aa2e11e2.35442"]]},{"id":"2ef2d9b8.0fcdd6","type":"change","z":"d452e8ea.f65308","name":"setOn","rules":[{"t":"set","p":"lamp","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1750,"y":720,"wires":[[]]},{"id":"7fd216b2.e59428","type":"inject","z":"d452e8ea.f65308","name":"","topic":"","payload":"test","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1490,"y":720,"wires":[["2ef2d9b8.0fcdd6"]]},{"id":"fadb4fa4.3fc38","type":"switch","z":"d452e8ea.f65308","name":"on - off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":390,"y":500,"wires":[["8b87916f.5b569"],["bf132955.4408e8"]]},{"id":"8b87916f.5b569","type":"change","z":"d452e8ea.f65308","name":"Lamp set On","rules":[{"t":"set","p":"lamp","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":480,"wires":[["22109980.c0d356"]]},{"id":"bf132955.4408e8","type":"change","z":"d452e8ea.f65308","name":"Lamp set Off","rules":[{"t":"set","p":"lamp","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":540,"wires":[["22109980.c0d356"]]},{"id":"5bc185b6.a2620c","type":"http request","z":"d452e8ea.f65308","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"basic","x":1720,"y":40,"wires":[[]]},{"id":"22109980.c0d356","type":"change","z":"d452e8ea.f65308","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"lamp","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":480,"wires":[["ff6f0d11.a09"]]},{"id":"d0c24be1.7a2d88","type":"inject","z":"d452e8ea.f65308","name":"make request","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":110,"y":320,"wires":[["e787ab9.a032058"]]},{"id":"e787ab9.a032058","type":"http request","z":"d452e8ea.f65308","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.1.71/readjson","tls":"","proxy":"","x":410,"y":380,"wires":[["c1663a09.f9baa8"]]},{"id":"c1663a09.f9baa8","type":"json","z":"d452e8ea.f65308","name":"","property":"payload","action":"","pretty":false,"x":610,"y":400,"wires":[["1c9da62d.53b92a"]]},{"id":"1c9da62d.53b92a","type":"function","z":"d452e8ea.f65308","name":"Pin15 status","func":"var value = msg.payload.gpio[\"15\"];\nmsg.payload = value;\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":400,"wires":[["fadb4fa4.3fc38","ff6f0d11.a09"]]},{"id":"aa2e11e2.35442","type":"change","z":"d452e8ea.f65308","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"lamp","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1720,"y":660,"wires":[["90c08ca1.3fbf2"]]},{"id":"1f1cfa80.7cdd66","type":"mqtt in","z":"d452e8ea.f65308","name":"Lamp1","topic":"mqtt/Lamp1/output15","qos":"2","datatype":"auto","broker":"6d5d992d.6206c8","x":110,"y":480,"wires":[["24eefba0.c1d5a4","fadb4fa4.3fc38"]]},{"id":"24eefba0.c1d5a4","type":"debug","z":"d452e8ea.f65308","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":290,"y":600,"wires":[]},{"id":"a428b3ee.ab5d6","type":"template","z":"d452e8ea.f65308","name":"go away off speech","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \"response\": {\n    \"text\": \"{{payload.const.overSpeech}}\",\n    \"end_session\": true\n        },\n    \"session\": {\n        \"session_id\": \"{{payload.session.session_id}}\",\n        \"message_id\": 4,\n        \"user_id\": \"{{payload.session.user_id}}\"\n        },\n    \"version\": \"1.0\"\n}","output":"json","x":1530,"y":220,"wires":[["d9f68ba5.57b518"]]},{"id":"e8014e81.ac731","type":"http in","z":"d452e8ea.f65308","name":"","url":"/lamp1","method":"get","upload":false,"swaggerDoc":"","x":140,"y":740,"wires":[["24eefba0.c1d5a4","9e2afd47.fc07b"]]},{"id":"fbc0620.e9b90a","type":"http response","z":"d452e8ea.f65308","name":"","statusCode":"","headers":{},"x":630,"y":740,"wires":[]},{"id":"9e2afd47.fc07b","type":"template","z":"d452e8ea.f65308","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"This is the payload: {{payload}} !","output":"str","x":440,"y":760,"wires":[["fbc0620.e9b90a"]]},{"id":"4c2d4d33.a45484","type":"mqtt in","z":"b1723f44.54ecb","name":"Lamp1Blue","topic":"mqtt/Lamp1/pwm1","qos":"2","datatype":"auto","broker":"6d5d992d.6206c8","x":130,"y":660,"wires":[["f8d7101a.02c4b"]]},{"id":"f8d7101a.02c4b","type":"debug","z":"b1723f44.54ecb","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":430,"y":660,"wires":[]},{"id":"f5b25aeb.41c868","type":"mqtt out","z":"b1723f44.54ecb","name":"Lamp1Blue","topic":"mqtt/Lamp1/pwm1","qos":"2","retain":"","broker":"6d5d992d.6206c8","x":450,"y":740,"wires":[]},{"id":"f6c20eae.0cb2f","type":"inject","z":"b1723f44.54ecb","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":740,"wires":[["f5b25aeb.41c868"]]},{"id":"23768fcc.7a215","type":"ui_slider","z":"b1723f44.54ecb","name":"Green","label":"Green","tooltip":"","group":"c1233c9d.822f","order":0,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":0,"max":"255","step":1,"x":350,"y":140,"wires":[["12b0a73c.5a22f9"]]},{"id":"4ea237f5.03c7d8","type":"inject","z":"b1723f44.54ecb","name":"make request","topic":"100","payload":"10","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":"","x":390,"y":60,"wires":[["d940f4f8.46f798","12b0a73c.5a22f9"]]},{"id":"d940f4f8.46f798","type":"http request","z":"b1723f44.54ecb","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.1.71/pwm?ch=1&set={{{payload}}}","tls":"","proxy":"","x":690,"y":240,"wires":[["fa64306e.0e586"]]},{"id":"fa64306e.0e586","type":"debug","z":"b1723f44.54ecb","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":890,"y":180,"wires":[]},{"id":"12b0a73c.5a22f9","type":"http request","z":"b1723f44.54ecb","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.1.71/pwm?ch=0&set={{{payload}}}","tls":"","proxy":"","x":690,"y":100,"wires":[["fa64306e.0e586"]]},{"id":"6cf5da1e.8be734","type":"ui_slider","z":"b1723f44.54ecb","name":"Blue","label":"Blue","tooltip":"","group":"c1233c9d.822f","order":0,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":0,"max":"255","step":1,"x":350,"y":180,"wires":[["d940f4f8.46f798"]]},{"id":"dfca38d3.1cb358","type":"inject","z":"b1723f44.54ecb","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":370,"y":280,"wires":[["d940f4f8.46f798","12b0a73c.5a22f9"]]},{"id":"3a4db4f6.b3b2bc","type":"inject","z":"b1723f44.54ecb","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":400,"wires":[["95dd706.e003b9"]]},{"id":"b1e496c1.ed3d68","type":"debug","z":"b1723f44.54ecb","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":790,"y":400,"wires":[]},{"id":"95dd706.e003b9","type":"change","z":"b1723f44.54ecb","name":"LampON","rules":[{"t":"set","p":"url","pt":"msg","to":"http://192.168.1.71/gpio?st=1&pin=15","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":400,"wires":[["b66ca01d.f50e6"]]},{"id":"b66ca01d.f50e6","type":"http request","z":"b1723f44.54ecb","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","x":550,"y":400,"wires":[["b1e496c1.ed3d68"]]},{"id":"e6ca9ab4.109998","type":"inject","z":"b1723f44.54ecb","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"5","x":140,"y":460,"wires":[["c9cebf33.078d2"]]},{"id":"c9cebf33.078d2","type":"change","z":"b1723f44.54ecb","name":"LampOff","rules":[{"t":"set","p":"url","pt":"msg","to":"http://192.168.1.71/gpio?st=0&pin=15","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":460,"wires":[["b66ca01d.f50e6"]]},{"id":"819a6f42.485db","type":"mqtt in","z":"b1723f44.54ecb","name":"ADC1","topic":"mqtt/Lamp1/adc","qos":"2","datatype":"auto","broker":"6d5d992d.6206c8","x":110,"y":980,"wires":[["a5623fcd.f07e2","59c12c5b.c41204"]]},{"id":"a5623fcd.f07e2","type":"debug","z":"b1723f44.54ecb","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":347,"y":1018,"wires":[]},{"id":"59c12c5b.c41204","type":"influxdb out","z":"b1723f44.54ecb","influxdb":"5acda325.99c72c","name":"ADC","measurement":"msg.measurement","precision":"","retentionPolicy":"","x":327,"y":958,"wires":[]},{"id":"84719c90.8e315","type":"inject","z":"5c2a57a.39a4fa8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":300,"y":280,"wires":[["9dea3da0.a5289"]]},{"id":"9dea3da0.a5289","type":"function","z":"5c2a57a.39a4fa8","name":"simple query","func":"msg.query=\"select * from /.*/;\";\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":280,"wires":[["788204c2.bad02c"]]},{"id":"788204c2.bad02c","type":"influxdb in","z":"5c2a57a.39a4fa8","influxdb":"5acda325.99c72c","name":"time query","query":"","rawOutput":false,"precision":"","retentionPolicy":"","x":623,"y":280,"wires":[["78f6993b.c4af48"]]},{"id":"78f6993b.c4af48","type":"debug","z":"5c2a57a.39a4fa8","name":"","active":true,"console":"false","complete":"false","x":781,"y":280,"wires":[]},{"id":"57ac2d34.c97fb4","type":"influxdb in","z":"5c2a57a.39a4fa8","influxdb":"5acda325.99c72c","name":"time query","query":"select * from /.*/;","rawOutput":false,"precision":"","retentionPolicy":"","x":450,"y":160,"wires":[["eff78dfd.cc5da"]]},{"id":"468582d4.a9a9ac","type":"inject","z":"5c2a57a.39a4fa8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":299,"y":160,"wires":[["57ac2d34.c97fb4"]]},{"id":"eff78dfd.cc5da","type":"debug","z":"5c2a57a.39a4fa8","name":"","active":true,"tosidebar":true,"console":false,"complete":"false","x":632,"y":160,"wires":[]},{"id":"9eb702a9.b4dd7","type":"influxdb out","z":"5c2a57a.39a4fa8","influxdb":"f5f24bed.d87708","name":"","measurement":"test","x":710,"y":380,"wires":[]},{"id":"59b11266.8f2c2c","type":"function","z":"5c2a57a.39a4fa8","name":"single value","func":"msg.payload = Math.random()*10;\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":380,"wires":[["9eb702a9.b4dd7"]]},{"id":"3d3423f5.276d2c","type":"inject","z":"5c2a57a.39a4fa8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":280,"y":380,"wires":[["59b11266.8f2c2c"]]},{"id":"384a2264.71f90e","type":"inject","z":"5c2a57a.39a4fa8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":300,"y":480,"wires":[["740519.3d15aae8"]]},{"id":"740519.3d15aae8","type":"function","z":"5c2a57a.39a4fa8","name":"Fields","func":"msg.payload = {\n    numValue: 123.0,\n    strValue: \"message\",\n    randomValue: Math.random()*10\n}\nreturn msg;","outputs":1,"noerr":0,"x":448,"y":480,"wires":[["e94b47a3.01ae38"]]},{"id":"e94b47a3.01ae38","type":"influxdb out","z":"5c2a57a.39a4fa8","influxdb":"b420a598.f18178","name":"","measurement":"test","x":618,"y":480,"wires":[]},{"id":"cce199ca.88c318","type":"function","z":"5c2a57a.39a4fa8","name":"multiple readings","func":"msg.payload = [\n    [{\n        numValue: 10,\n        randomValue: Math.random()*10,\n        strValue: \"message1\",\n        time: new Date(\"2015-12-28T19:41:13Z\").getTime()\n    },\n    {\n        tag1:\"sensor1\",\n        tag2:\"device2\"\n    }],\n    [{\n        numValue: 20,\n        randomValue: Math.random()*10,\n        strValue: \"message2\",\n        time: new Date(\"2015-12-28T19:41:14Z\").getTime()\n    },\n    {\n        tag1:\"sensor1\",\n        tag2:\"device2\"\n    }]\n];\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":560,"wires":[["2f844f5a.86b35"]]},{"id":"4fbe8cfa.0938f4","type":"inject","z":"5c2a57a.39a4fa8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":276,"y":560,"wires":[["cce199ca.88c318"]]},{"id":"2f844f5a.86b35","type":"influxdb out","z":"5c2a57a.39a4fa8","influxdb":"fff3774d.8ab808","name":"","measurement":"test","x":651,"y":559,"wires":[]},{"id":"c24ef1b7.b6fe9","type":"function","z":"5c2a57a.39a4fa8","name":"multiple measurement points","func":"msg.payload = [\n    {\n        measurement: \"weather_sensor\",\n        fields: {\n            temp: 5.5,\n            light: 678,\n            humidity: 51\n        },\n        tags:{\n            location:\"garden\"\n        },\n        timestamp: new Date()\n    },\n    {\n        measurement: \"alarm_sensor\",\n        fields: {\n            proximity: 999,\n            temp: 19.5\n        },\n        tags:{\n            location:\"home\"\n        },\n        timestamp: new Date()\n    }\n];\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":640,"wires":[["88fa9dbe.ae4eb"]]},{"id":"95afe376.73c66","type":"inject","z":"5c2a57a.39a4fa8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":220,"y":640,"wires":[["c24ef1b7.b6fe9"]]},{"id":"88fa9dbe.ae4eb","type":"influxdb batch","z":"5c2a57a.39a4fa8","influxdb":"f517e534.921ff8","name":"","x":780,"y":640,"wires":[]},{"id":"fa0c8159.6c2f6","type":"mqtt in","z":"b1723f44.54ecb","name":"Lamp2","topic":"mqtt/Lamp2/blue","qos":"2","datatype":"auto","broker":"6d5d992d.6206c8","x":110,"y":840,"wires":[["ee626eca.510d3"]]},{"id":"ee626eca.510d3","type":"debug","z":"b1723f44.54ecb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":370,"y":840,"wires":[]},{"id":"65fadc71.8ba204","type":"mqtt out","z":"b1723f44.54ecb","name":"Lamp2/blue","topic":"mqtt/Lamp2/blue","qos":"2","retain":"","broker":"6d5d992d.6206c8","x":1030,"y":740,"wires":[]},{"id":"7eb973c9.61674c","type":"inject","z":"b1723f44.54ecb","name":"10","topic":"","payload":"10","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":710,"y":740,"wires":[["65fadc71.8ba204"]]},{"id":"ed364fb7.0fb88","type":"inject","z":"b1723f44.54ecb","name":"0","topic":"","payload":"0","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":710,"y":660,"wires":[["65fadc71.8ba204"]]},{"id":"b993ca32.122d98","type":"inject","z":"b1723f44.54ecb","name":"100","topic":"","payload":"100","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":710,"y":820,"wires":[["65fadc71.8ba204"]]},{"id":"6f39a714.336bc8","type":"inject","z":"b1723f44.54ecb","name":"255","topic":"","payload":"255","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":710,"y":900,"wires":[["65fadc71.8ba204"]]},{"id":"ba4566ad.0d1998","type":"mqtt in","z":"b1723f44.54ecb","name":"ADC2","topic":"mqtt/Lamp2/adc","qos":"2","datatype":"auto","broker":"6d5d992d.6206c8","x":570,"y":1020,"wires":[["23aea17b.7af65e"]]},{"id":"6f7bbb29.1c0f94","type":"debug","z":"b1723f44.54ecb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1010,"y":1020,"wires":[]},{"id":"23aea17b.7af65e","type":"function","z":"b1723f44.54ecb","name":"Fields","func":"var value = msg.payload\nmsg.payload = {\n    valueADC: value,\n    strValue: \"Lamp2ADC\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":1020,"wires":[["6f7bbb29.1c0f94","78a7e63a.42d918"]]},{"id":"78a7e63a.42d918","type":"influxdb out","z":"b1723f44.54ecb","influxdb":"5acda325.99c72c","name":"ADC","measurement":"msg.Lamp2","precision":"","retentionPolicy":"","x":990,"y":1080,"wires":[]},{"id":"e9af59cf.015218","type":"inject","z":"b1723f44.54ecb","name":"","topic":"","payload":"100","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":780,"wires":[["f5b25aeb.41c868"]]}]