flows_raspberrypi.json
[{"id":"d452e8ea.f65308","type":"tab","label":"myhome","disabled":false,"info":""},{"id":"58522408.5e1f6c","type":"tab","label":"Timer","disabled":false,"info":""},{"id":"b1723f44.54ecb","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"5c2a57a.39a4fa8","type":"tab","label":"Flow 2","disabled":true,"info":""},{"id":"4788f78d.cd37e8","type":"tab","label":"Site parsing","disabled":false,"info":""},{"id":"d09ab75b.1e64b8","type":"tab","label":"Flow 3","disabled":true,"info":""},{"id":"10ab9a74.e34a16","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"20e1011b.60ebfe","type":"tab","label":"Flow 5","disabled":false,"info":""},{"id":"600c441d.148fac","type":"tab","label":"Bitrix24","disabled":false,"info":""},{"id":"464ee1dd.9aefa","type":"group","z":"20e1011b.60ebfe","name":"Работа","style":{"stroke":"#001f60","fill":"#ffefbf","label":true,"color":"#001f60","fill-opacity":"0.51"},"nodes":["bed84225.65d3e","484f3f55.f2ae4","4c9bc374.cceeec","df4d2bb7.545ea8","b22d332.ddc17d","254c03e3.21d69c","ea8d5f89.dca36","67f2f2ab.f5f27c"],"x":34,"y":79},{"id":"2ca5b2ff.5010be","type":"group","z":"20e1011b.60ebfe","name":"Weather","style":{"stroke":"#001f60","fill":"#e3f3d3","fill-opacity":"0.5","label":true,"color":"#001f60"},"nodes":["2c8f36dd.8a468a","c7c2465.e4d6db8","ec487599.8aa638","a8f70691.dd5788","c82dbc05.d3f0b","f6b82dfb.2e92e","95ce28b7.b6f3e8","c0f59d10.e72af","e4bee86f.df4438","b4d0b2ff.51bc5","82654ea7.1874","e2dc7ce7.e2956","30de5852.762c28","75a9607c.c14d7","9c4ab118.f28c8","aabc070.1f59af8","81fa9b54.02d268","dd8a4c18.b7a12","b5b27f9d.394ad","c19ffddb.02895","41b85dde.b67db4","53384efc.4b85c","e04fea85.ca3098","4bdacb54.81f4d4","f453b0f6.618da","a038ed57.cf793","5e4b62de.2c69fc"],"x":34,"y":319},{"id":"a61b8cc2.a8a42","type":"group","z":"600c441d.148fac","name":"Calendar","style":{"stroke":"#001f60","fill":"#d1d1d1","fill-opacity":"0.5","label":true,"color":"#001f60"},"nodes":["40553aa6.a46924","3255d46b.1f0dec","d778f34b.18d02","ddfcfe71.c55ae","b26c0b72.1d9a68","5d2a1266.1876ec","5d711765.118268","31eb4064.2e9f7","9c6bd7c5.702d28","c0a2d0a9.edcab","be412de5.7bd1e","509c1c5d.af2074","c1b2a25f.1e169","296b7171.61a42e","e4197819.9da528","92c21a1c.0787f8","9e0e6bab.0be8f8","c68556ec.3064e8"],"x":14,"y":99,"w":1112,"h":362},{"id":"555c4b8b.208494","type":"group","z":"600c441d.148fac","name":"Bitrix24","style":{"stroke":"#001f60","fill":"#bfdbef","fill-opacity":"0.5","label":true,"color":"#001f60"},"nodes":["47285c87.ad2d74","4f06e447.ea031c","14236d8f.884bc2","b592327c.0005f","d91632f1.7565b","180b7eea.0684a1","8c7ed29b.3b7d4","f049c759.cbfa48","8440a4df.094428","c85279bd.d945b8","a42bdffd.d2f66","85b9a3d3.faad6","f9e18bb0.eded58","a52c2fb3.43475","6bcbc26e.a0c47c","f8bf2e6c.b88a8","13b24d02.7a1eb3","2db02908.909206","30dd4303.77663c","f0df4499.769808"],"x":14,"y":659,"w":1112,"h":382},{"id":"d995f01d.eeabe","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"6d5d992d.6206c8","type":"mqtt-broker","z":"","name":"Mosquitto","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"ff2a4590.cacc08","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"c1233c9d.822f","type":"ui_group","z":"","name":"PWM","tab":"ff2a4590.cacc08","order":1,"disp":true,"width":"6","collapse":false},{"id":"5acda325.99c72c","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"adc","name":"adc","usetls":false,"tls":""},{"id":"c9ba0e9a.54f65","type":"influxdb","z":"5c2a57a.39a4fa8","hostname":"127.0.0.1","port":"8086","database":"aTimeSeries","name":"aTimeSeries"},{"id":"78d1afd5.ead8f","type":"influxdb","z":"5c2a57a.39a4fa8","hostname":"127.0.0.1","port":"8086","database":"test","name":"test","usetls":false,"tls":""},{"id":"f5f24bed.d87708","type":"influxdb","z":"5c2a57a.39a4fa8","hostname":"127.0.0.1","port":"8086","database":"aTimeSeries","name":"aTimeSeries","usetls":false},{"id":"b420a598.f18178","type":"influxdb","z":"5c2a57a.39a4fa8","hostname":"127.0.0.1","port":"8086","database":"aTimeSeries","name":"aTimeSeries","usetls":false},{"id":"fff3774d.8ab808","type":"influxdb","z":"5c2a57a.39a4fa8","hostname":"127.0.0.1","port":"8086","database":"aTimeSeries","name":"aTimeSeries"},{"id":"f517e534.921ff8","type":"influxdb","z":"","hostname":"localhost","port":"8086","protocol":"https","database":"floraC47C8D62A577","name":"","usetls":true,"tls":"ece5be85.8a467"},{"id":"ece5be85.8a467","type":"tls-config","z":"","name":"local-tls","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","verifyservercert":false},{"id":"91e47ebe.114cc","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"floraC47C8D62A577","name":"","usetls":false,"tls":"ece5be85.8a467"},{"id":"3b7cd9bc.25d226","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"floraC47C8D62422D","name":"","usetls":false,"tls":"ece5be85.8a467"},{"id":"85ac72e9.c6bb2","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"floraC47C8D6273FC","name":"","usetls":false,"tls":"ece5be85.8a467"},{"id":"70d922cd.cc611c","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"floraC47C8D61A2A7","name":"","usetls":false,"tls":"ece5be85.8a467"},{"id":"3dad2d52.92b2e2","type":"pushbullet-config","z":"","name":"main"},{"id":"27b3edbe.608c22","type":"ui_group","z":"d09ab75b.1e64b8","name":"Коридор","tab":"9c149e28.7c011","order":1,"disp":true,"width":"6","collapse":false},{"id":"9c149e28.7c011","type":"ui_tab","z":"d09ab75b.1e64b8","name":"Cameras","icon":"camera_alt","order":2},{"id":"ff602fa2.a5609","type":"alice-service","z":"","name":"daneev2009@yandex.ru"},{"id":"9fcbf278.94eed","type":"alice-device","z":"","service":"ff602fa2.a5609","name":"Уютный дом","description":"","room":"Комната","dtype":"devices.types.light"},{"id":"a6c29287.593a1","type":"alice-device","z":"","service":"ff602fa2.a5609","name":"Лампы","description":"","room":"Комната","dtype":"devices.types.light"},{"id":"9c50db50.498e88","type":"google-credentials","z":"","displayName":"Google"},{"id":"a060f00.6d6fb1","type":"http in","z":"d452e8ea.f65308","name":"","url":"/myhome","method":"post","upload":false,"swaggerDoc":"","x":100,"y":200,"wires":[["7da6c7ad.224e78"]]},{"id":"7da6c7ad.224e78","type":"switch","z":"d452e8ea.f65308","name":"not ping","property":"payload.request.command","propertyType":"msg","rules":[{"t":"neq","v":"ping","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":300,"y":260,"wires":[["4425036a.4f2f5c"]]},{"id":"ff6f0d11.a09","type":"debug","z":"d452e8ea.f65308","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1010,"y":480,"wires":[]},{"id":"d9f68ba5.57b518","type":"http response","z":"d452e8ea.f65308","name":"","statusCode":"","headers":{},"x":1970,"y":300,"wires":[]},{"id":"9e797367.7ef85","type":"debug","z":"d452e8ea.f65308","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":690,"y":180,"wires":[]},{"id":"33a990e9.18ee","type":"switch","z":"d452e8ea.f65308","name":"user","property":"payload.session.user_id","propertyType":"msg","rules":[{"t":"eq","v":"myhome.userId[0]","vt":"flow"},{"t":"eq","v":"myhome.userId[1]","vt":"flow"},{"t":"eq","v":"myhome.userId[2]","vt":"flow"},{"t":"else"}],"checkall":"true","repair":false,"outputs":4,"x":710,"y":260,"wires":[["76d25f78.4ebcd"],["76d25f78.4ebcd"],["76d25f78.4ebcd"],["fe996ea6.951e2","98c3710c.71ddb"]]},{"id":"fe996ea6.951e2","type":"template","z":"d452e8ea.f65308","name":"go away","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \"response\": {\n    \"text\": \"{{payload.const.intruderText}}\",\n    \"end_session\": false\n        },\n    \"session\": {\n        \"session_id\": \"{{payload.session.session_id}}\",\n        \"message_id\": 4,\n        \"user_id\": \"{{payload.session.user_id}}\"\n        },\n    \"version\": \"1.0\"\n}","output":"json","x":1500,"y":340,"wires":[["d9f68ba5.57b518"]]},{"id":"76d25f78.4ebcd","type":"switch","z":"d452e8ea.f65308","name":"entity","property":"payload.request.command","propertyType":"msg","rules":[{"t":"cont","v":"myhome.entities.Lamp","vt":"flow"},{"t":"cont","v":"myhome.entities.Close","vt":"flow"},{"t":"empty"},{"t":"else"}],"checkall":"true","repair":false,"outputs":4,"x":910,"y":180,"wires":[["89515802.ab0a78"],["a428b3ee.ab5d6","98c3710c.71ddb"],["e906be5e.2d0c6","efb4d9be.05cdb8"],["12e848ae.b275a7","f172f77b.3f5fa8"]]},{"id":"89515802.ab0a78","type":"switch","z":"d452e8ea.f65308","name":"turn on/off","property":"payload.request.command","propertyType":"msg","rules":[{"t":"cont","v":"включ","vt":"str"},{"t":"cont","v":"выключ","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1080,"y":100,"wires":[["921061a3.52832","1b04e6c9.6ad999"],["a35e61dd.8213","44676f51.b5c8"]]},{"id":"cd5b9c65.e46e4","type":"template","z":"d452e8ea.f65308","name":"turn on","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \"response\": {\n    \"text\": \"{{payload.const.turnOnText}}\",\n    \"end_session\": false\n        },\n    \"session\": {\n        \"session_id\": \"{{payload.session.session_id}}\",\n        \"message_id\": 4,\n        \"user_id\": \"{{payload.session.user_id}}\"\n        },\n    \"version\": \"1.0\"\n}","output":"json","x":1720,"y":40,"wires":[["d9f68ba5.57b518"]]},{"id":"12e848ae.b275a7","type":"template","z":"d452e8ea.f65308","name":"not found","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \"response\": {\n    \"text\": \"{{payload.const.notFoundText}}\",\n    \"end_session\": false\n        },\n    \"session\": {\n        \"session_id\": \"{{payload.session.session_id}}\",\n        \"message_id\": 4,\n        \"user_id\": \"{{payload.session.user_id}}\"\n        },\n    \"version\": \"1.0\"\n}","output":"json","x":1500,"y":300,"wires":[["d9f68ba5.57b518"]]},{"id":"7a617d4c.2b2b34","type":"template","z":"d452e8ea.f65308","name":"turn off","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \"response\": {\n    \"text\": \"{{payload.const.turnOffText}}\",\n    \"end_session\": false\n        },\n    \"session\": {\n        \"session_id\": \"{{payload.session.session_id}}\",\n        \"message_id\": 4,\n        \"user_id\": \"{{payload.session.user_id}}\"\n        },\n    \"version\": \"1.0\"\n}","output":"json","x":1710,"y":180,"wires":[["d9f68ba5.57b518"]]},{"id":"bc6ca9aa.0ee378","type":"template","z":"d452e8ea.f65308","name":"Settings object","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \"helloWord\": \"Здравствуйте, дом приветствует вас!\",\n    \"intruderText\": \"Что-то не похож ты на моего хозяина. А ну-ка вон отсюда!\",\n    \"notFoundText\": \"Устройство не найдено!\",\n    \"overSpeech\": \"Пока, пока\",\n    \"userId\": [\"00023C4E21BEB515A93DC99824FDE96B59F2A7FD69F40E4BCC645E7D8FB37CFD\",\n               \"95F6936A770A9DD5DC4A1DC3BA63049E7DA4FC1AD90E2DB77DA108B1D8CBF6E5\",\n               \"673E752B3F689338D0DBCCF6425D9187A3CFD4CD072CA4C0639FF80AAEB45AA1\"],\n    \"turnOnText\": \"Включаю\",\n    \"turnOffText\": \"Выключаю\",\n    \"turnOnTooText\": \"Уже включен\",\n    \"turnOffTooText\": \"Уже выключен\",\n    \"entities\": {\n        \"Lamp\": \"свет\",\n        \"Close\": \"до свидан\"\n    }\n}\n","output":"json","x":440,"y":120,"wires":[["2c690434.a8820c"]]},{"id":"e906be5e.2d0c6","type":"template","z":"d452e8ea.f65308","name":"hello word","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \"response\": {\n    \"text\": \"{{payload.const.helloWord}}\",\n    \"end_session\": false\n        },\n    \"session\": {\n        \"session_id\": \"{{payload.session.session_id}}\",\n        \"message_id\": 4,\n        \"user_id\": \"{{payload.session.user_id}}\"\n        },\n    \"version\": \"1.0\"\n}","output":"json","x":1510,"y":260,"wires":[["d9f68ba5.57b518"]]},{"id":"dc85d514.034af8","type":"inject","z":"d452e8ea.f65308","name":"","repeat":"","crontab":"","once":true,"onceDelay":"10","topic":"","payload":"","payloadType":"date","x":250,"y":120,"wires":[["bc6ca9aa.0ee378","e785471c.8265d8"]]},{"id":"2c690434.a8820c","type":"function","z":"d452e8ea.f65308","name":"Settings myhome","func":"flow.set(\"myhome\", msg.payload)","outputs":1,"noerr":0,"x":650,"y":120,"wires":[[]]},{"id":"4425036a.4f2f5c","type":"function","z":"d452e8ea.f65308","name":"Settings const","func":"msg.payload.const = flow.get(\"myhome\")\nreturn msg","outputs":1,"noerr":0,"x":500,"y":260,"wires":[["9e797367.7ef85","33a990e9.18ee"]]},{"id":"9cbe97ea.488a68","type":"comment","z":"d452e8ea.f65308","name":"Задаем наши статичные параметры (не забываем после изменения нажимать на синюю кнопку timestamp)","info":"","x":460,"y":80,"wires":[]},{"id":"dfdc9e0e.aef12","type":"debug","z":"d452e8ea.f65308","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1990,"y":460,"wires":[]},{"id":"921061a3.52832","type":"template","z":"d452e8ea.f65308","name":"Включить","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Включить","output":"str","x":1500,"y":420,"wires":[["dfdc9e0e.aef12"]]},{"id":"a35e61dd.8213","type":"template","z":"d452e8ea.f65308","name":"Выключить","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Выключить","output":"str","x":1510,"y":460,"wires":[["dfdc9e0e.aef12"]]},{"id":"efb4d9be.05cdb8","type":"template","z":"d452e8ea.f65308","name":"Привет","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Привет","output":"str","x":1500,"y":500,"wires":[["dfdc9e0e.aef12"]]},{"id":"f172f77b.3f5fa8","type":"template","z":"d452e8ea.f65308","name":"не найдено","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"не найдено","output":"str","x":1510,"y":540,"wires":[["dfdc9e0e.aef12"]]},{"id":"98c3710c.71ddb","type":"template","z":"d452e8ea.f65308","name":"Прощай","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Прощай","output":"str","x":1500,"y":580,"wires":[["dfdc9e0e.aef12"]]},{"id":"e785471c.8265d8","type":"debug","z":"d452e8ea.f65308","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":490,"y":200,"wires":[]},{"id":"1b04e6c9.6ad999","type":"switch","z":"d452e8ea.f65308","name":"Lamp is on/off","property":"lamp","propertyType":"flow","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":1280,"y":60,"wires":[["6aecfd2d.6f5874"],["48fa59c.ab720a8"]]},{"id":"6aecfd2d.6f5874","type":"template","z":"d452e8ea.f65308","name":"turn on too","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \"response\": {\n    \"text\": \"{{payload.const.turnOnTooText}}\",\n    \"end_session\": false\n        },\n    \"session\": {\n        \"session_id\": \"{{payload.session.session_id}}\",\n        \"message_id\": 4,\n        \"user_id\": \"{{payload.session.user_id}}\"\n        },\n    \"version\": \"1.0\"\n}","output":"json","x":1510,"y":40,"wires":[["d9f68ba5.57b518"]]},{"id":"86f6f3ee.b6aad","type":"template","z":"d452e8ea.f65308","name":"turn off too","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \"response\": {\n    \"text\": \"{{payload.const.turnOffTooText}}\",\n    \"end_session\": false\n        },\n    \"session\": {\n        \"session_id\": \"{{payload.session.session_id}}\",\n        \"message_id\": 4,\n        \"user_id\": \"{{payload.session.user_id}}\"\n        },\n    \"version\": \"1.0\"\n}","output":"json","x":1510,"y":180,"wires":[["d9f68ba5.57b518"]]},{"id":"44676f51.b5c8","type":"switch","z":"d452e8ea.f65308","name":"Lamp is on/off","property":"lamp","propertyType":"flow","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":1280,"y":160,"wires":[["8d30ae9f.b5764"],["86f6f3ee.b6aad"]]},{"id":"8d30ae9f.b5764","type":"change","z":"d452e8ea.f65308","name":"Lamp set Off","rules":[{"t":"set","p":"lamp","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1510,"y":140,"wires":[["7a617d4c.2b2b34","1e3b6008.5a008"]]},{"id":"48fa59c.ab720a8","type":"change","z":"d452e8ea.f65308","name":"Lamp set On","rules":[{"t":"set","p":"lamp","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1510,"y":80,"wires":[["cd5b9c65.e46e4","1e3b6008.5a008"]]},{"id":"90c08ca1.3fbf2","type":"debug","z":"d452e8ea.f65308","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1930,"y":660,"wires":[]},{"id":"c3df99b5.f54828","type":"inject","z":"d452e8ea.f65308","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"lamp","payloadType":"flow","x":1500,"y":660,"wires":[["aa2e11e2.35442"]]},{"id":"2ef2d9b8.0fcdd6","type":"change","z":"d452e8ea.f65308","name":"setOn","rules":[{"t":"set","p":"lamp","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1750,"y":720,"wires":[[]]},{"id":"7fd216b2.e59428","type":"inject","z":"d452e8ea.f65308","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"test on","payloadType":"str","x":1490,"y":720,"wires":[["2ef2d9b8.0fcdd6"]]},{"id":"fadb4fa4.3fc38","type":"switch","z":"d452e8ea.f65308","name":"on - off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":390,"y":500,"wires":[["8b87916f.5b569"],["bf132955.4408e8"]]},{"id":"8b87916f.5b569","type":"change","z":"d452e8ea.f65308","name":"Lamp set On","rules":[{"t":"set","p":"lamp","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":480,"wires":[["22109980.c0d356"]]},{"id":"bf132955.4408e8","type":"change","z":"d452e8ea.f65308","name":"Lamp set Off","rules":[{"t":"set","p":"lamp","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":540,"wires":[["22109980.c0d356"]]},{"id":"22109980.c0d356","type":"change","z":"d452e8ea.f65308","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"lamp","tot":"flow"},{"t":"set","p":"topic","pt":"msg","to":"lamp","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":480,"wires":[["ff6f0d11.a09"]]},{"id":"d0c24be1.7a2d88","type":"inject","z":"d452e8ea.f65308","name":"make request","repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"","payloadType":"date","x":110,"y":320,"wires":[["e787ab9.a032058"]]},{"id":"e787ab9.a032058","type":"http request","z":"d452e8ea.f65308","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"http://192.168.0.13/readjson","tls":"","persist":false,"proxy":"","authType":"","x":350,"y":380,"wires":[["1c9da62d.53b92a"]]},{"id":"1c9da62d.53b92a","type":"function","z":"d452e8ea.f65308","name":"Pin5 status","func":"const value = msg.payload.gpio[\"5\"];\nmsg.payload = value;\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":380,"wires":[["ff6f0d11.a09"]]},{"id":"aa2e11e2.35442","type":"change","z":"d452e8ea.f65308","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"lamp","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1720,"y":660,"wires":[["90c08ca1.3fbf2"]]},{"id":"1f1cfa80.7cdd66","type":"mqtt in","z":"d452e8ea.f65308","name":"Lamp1","topic":"mqtt/Lamp1/output5","qos":"2","datatype":"auto","broker":"6d5d992d.6206c8","x":110,"y":480,"wires":[["24eefba0.c1d5a4","fadb4fa4.3fc38"]]},{"id":"24eefba0.c1d5a4","type":"debug","z":"d452e8ea.f65308","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":310,"y":580,"wires":[]},{"id":"a428b3ee.ab5d6","type":"template","z":"d452e8ea.f65308","name":"go away off speech","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \"response\": {\n    \"text\": \"{{payload.const.overSpeech}}\",\n    \"end_session\": true\n        },\n    \"session\": {\n        \"session_id\": \"{{payload.session.session_id}}\",\n        \"message_id\": 4,\n        \"user_id\": \"{{payload.session.user_id}}\"\n        },\n    \"version\": \"1.0\"\n}","output":"json","x":1530,"y":220,"wires":[["d9f68ba5.57b518"]]},{"id":"4c2d4d33.a45484","type":"mqtt in","z":"b1723f44.54ecb","name":"Lamp1Blue","topic":"mqtt/Lamp1/pwm1","qos":"2","datatype":"auto","broker":"6d5d992d.6206c8","x":130,"y":660,"wires":[["f8d7101a.02c4b"]]},{"id":"f8d7101a.02c4b","type":"debug","z":"b1723f44.54ecb","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":430,"y":660,"wires":[]},{"id":"f5b25aeb.41c868","type":"mqtt out","z":"b1723f44.54ecb","name":"Lamp1Blue","topic":"mqtt/Lamp1/pwm1","qos":"2","retain":"","broker":"6d5d992d.6206c8","x":450,"y":740,"wires":[]},{"id":"f6c20eae.0cb2f","type":"inject","z":"b1723f44.54ecb","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":130,"y":740,"wires":[["f5b25aeb.41c868"]]},{"id":"23768fcc.7a215","type":"ui_slider","z":"b1723f44.54ecb","name":"Green","label":"Green","tooltip":"","group":"c1233c9d.822f","order":0,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":0,"max":"255","step":1,"x":350,"y":140,"wires":[["12b0a73c.5a22f9"]]},{"id":"4ea237f5.03c7d8","type":"inject","z":"b1723f44.54ecb","name":"make request","repeat":"","crontab":"","once":false,"onceDelay":"","topic":"100","payload":"10","payloadType":"num","x":390,"y":60,"wires":[["d940f4f8.46f798","12b0a73c.5a22f9"]]},{"id":"d940f4f8.46f798","type":"http request","z":"b1723f44.54ecb","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.1.71/pwm?ch=1&set={{{payload}}}","tls":"","proxy":"","x":690,"y":240,"wires":[["fa64306e.0e586"]]},{"id":"fa64306e.0e586","type":"debug","z":"b1723f44.54ecb","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":890,"y":180,"wires":[]},{"id":"12b0a73c.5a22f9","type":"http request","z":"b1723f44.54ecb","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.1.71/pwm?ch=0&set={{{payload}}}","tls":"","proxy":"","x":690,"y":100,"wires":[["fa64306e.0e586"]]},{"id":"6cf5da1e.8be734","type":"ui_slider","z":"b1723f44.54ecb","name":"Blue","label":"Blue","tooltip":"","group":"c1233c9d.822f","order":0,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":0,"max":"255","step":1,"x":350,"y":180,"wires":[["d940f4f8.46f798"]]},{"id":"dfca38d3.1cb358","type":"inject","z":"b1723f44.54ecb","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":370,"y":280,"wires":[["d940f4f8.46f798","12b0a73c.5a22f9"]]},{"id":"3a4db4f6.b3b2bc","type":"inject","z":"b1723f44.54ecb","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":400,"wires":[["95dd706.e003b9"]]},{"id":"b1e496c1.ed3d68","type":"debug","z":"b1723f44.54ecb","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":790,"y":400,"wires":[]},{"id":"95dd706.e003b9","type":"change","z":"b1723f44.54ecb","name":"LampON","rules":[{"t":"set","p":"url","pt":"msg","to":"http://192.168.1.71/gpio?st=1&pin=15","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":400,"wires":[["b66ca01d.f50e6"]]},{"id":"b66ca01d.f50e6","type":"http request","z":"b1723f44.54ecb","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","x":550,"y":400,"wires":[["b1e496c1.ed3d68"]]},{"id":"e6ca9ab4.109998","type":"inject","z":"b1723f44.54ecb","name":"","repeat":"","crontab":"","once":false,"onceDelay":"5","topic":"","payload":"","payloadType":"date","x":140,"y":460,"wires":[["c9cebf33.078d2"]]},{"id":"c9cebf33.078d2","type":"change","z":"b1723f44.54ecb","name":"LampOff","rules":[{"t":"set","p":"url","pt":"msg","to":"http://192.168.1.71/gpio?st=0&pin=15","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":460,"wires":[["b66ca01d.f50e6"]]},{"id":"84719c90.8e315","type":"inject","z":"5c2a57a.39a4fa8","name":"","repeat":"","crontab":"","once":false,"topic":"","payload":"","payloadType":"date","x":300,"y":280,"wires":[["9dea3da0.a5289"]]},{"id":"9dea3da0.a5289","type":"function","z":"5c2a57a.39a4fa8","name":"simple query","func":"msg.query=\"select * from /.*/;\";\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":280,"wires":[["788204c2.bad02c"]]},{"id":"788204c2.bad02c","type":"influxdb in","z":"5c2a57a.39a4fa8","influxdb":"5acda325.99c72c","name":"time query","query":"","rawOutput":false,"precision":"","retentionPolicy":"","x":623,"y":280,"wires":[["78f6993b.c4af48"]]},{"id":"78f6993b.c4af48","type":"debug","z":"5c2a57a.39a4fa8","name":"","active":true,"console":"false","complete":"false","x":781,"y":280,"wires":[]},{"id":"57ac2d34.c97fb4","type":"influxdb in","z":"5c2a57a.39a4fa8","influxdb":"5acda325.99c72c","name":"time query","query":"select * from /.*/;","rawOutput":false,"precision":"","retentionPolicy":"","x":450,"y":160,"wires":[["eff78dfd.cc5da"]]},{"id":"468582d4.a9a9ac","type":"inject","z":"5c2a57a.39a4fa8","name":"","repeat":"","crontab":"","once":false,"topic":"","payload":"","payloadType":"date","x":299,"y":160,"wires":[["57ac2d34.c97fb4"]]},{"id":"eff78dfd.cc5da","type":"debug","z":"5c2a57a.39a4fa8","name":"","active":true,"tosidebar":true,"console":false,"complete":"false","x":632,"y":160,"wires":[]},{"id":"9eb702a9.b4dd7","type":"influxdb out","z":"5c2a57a.39a4fa8","influxdb":"f5f24bed.d87708","name":"","measurement":"test","precision":"","retentionPolicy":"","x":710,"y":380,"wires":[]},{"id":"59b11266.8f2c2c","type":"function","z":"5c2a57a.39a4fa8","name":"single value","func":"msg.payload = Math.random()*10;\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":380,"wires":[["9eb702a9.b4dd7"]]},{"id":"3d3423f5.276d2c","type":"inject","z":"5c2a57a.39a4fa8","name":"","repeat":"","crontab":"","once":false,"topic":"","payload":"","payloadType":"date","x":280,"y":380,"wires":[["59b11266.8f2c2c"]]},{"id":"384a2264.71f90e","type":"inject","z":"5c2a57a.39a4fa8","name":"","repeat":"","crontab":"","once":false,"topic":"","payload":"","payloadType":"date","x":300,"y":480,"wires":[["740519.3d15aae8"]]},{"id":"740519.3d15aae8","type":"function","z":"5c2a57a.39a4fa8","name":"Fields","func":"msg.payload = {\n    numValue: 123.0,\n    strValue: \"message\",\n    randomValue: Math.random()*10\n}\nreturn msg;","outputs":1,"noerr":0,"x":448,"y":480,"wires":[["e94b47a3.01ae38"]]},{"id":"e94b47a3.01ae38","type":"influxdb out","z":"5c2a57a.39a4fa8","influxdb":"b420a598.f18178","name":"","measurement":"test","x":618,"y":480,"wires":[]},{"id":"cce199ca.88c318","type":"function","z":"5c2a57a.39a4fa8","name":"multiple readings","func":"msg.payload = [\n    [{\n        numValue: 10,\n        randomValue: Math.random()*10,\n        strValue: \"message1\",\n        time: new Date(\"2015-12-28T19:41:13Z\").getTime()\n    },\n    {\n        tag1:\"sensor1\",\n        tag2:\"device2\"\n    }],\n    [{\n        numValue: 20,\n        randomValue: Math.random()*10,\n        strValue: \"message2\",\n        time: new Date(\"2015-12-28T19:41:14Z\").getTime()\n    },\n    {\n        tag1:\"sensor1\",\n        tag2:\"device2\"\n    }]\n];\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":560,"wires":[["2f844f5a.86b35"]]},{"id":"4fbe8cfa.0938f4","type":"inject","z":"5c2a57a.39a4fa8","name":"","repeat":"","crontab":"","once":false,"topic":"","payload":"","payloadType":"date","x":276,"y":560,"wires":[["cce199ca.88c318"]]},{"id":"2f844f5a.86b35","type":"influxdb out","z":"5c2a57a.39a4fa8","influxdb":"fff3774d.8ab808","name":"","measurement":"test","x":651,"y":559,"wires":[]},{"id":"c24ef1b7.b6fe9","type":"function","z":"5c2a57a.39a4fa8","name":"multiple measurement points","func":"msg.payload = [\n    {\n        measurement: \"weather_sensor\",\n        fields: {\n            temp: 5.5,\n            light: 678,\n            humidity: 51\n        },\n        tags:{\n            location:\"garden\"\n        },\n        timestamp: new Date()\n    },\n    {\n        measurement: \"alarm_sensor\",\n        fields: {\n            proximity: 999,\n            temp: 19.5\n        },\n        tags:{\n            location:\"home\"\n        },\n        timestamp: new Date()\n    }\n];\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":640,"wires":[["88fa9dbe.ae4eb"]]},{"id":"95afe376.73c66","type":"inject","z":"5c2a57a.39a4fa8","name":"","repeat":"","crontab":"","once":false,"topic":"","payload":"","payloadType":"date","x":220,"y":640,"wires":[["c24ef1b7.b6fe9"]]},{"id":"fa0c8159.6c2f6","type":"mqtt in","z":"b1723f44.54ecb","name":"Lamp2","topic":"mqtt/Lamp2/blue","qos":"2","datatype":"auto","broker":"6d5d992d.6206c8","x":110,"y":840,"wires":[["ee626eca.510d3"]]},{"id":"ee626eca.510d3","type":"debug","z":"b1723f44.54ecb","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":370,"y":840,"wires":[]},{"id":"65fadc71.8ba204","type":"mqtt out","z":"b1723f44.54ecb","name":"Lamp2/blue","topic":"mqtt/Lamp2/blue","qos":"2","retain":"","broker":"6d5d992d.6206c8","x":1030,"y":740,"wires":[]},{"id":"7eb973c9.61674c","type":"inject","z":"b1723f44.54ecb","name":"10","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"10","payloadType":"str","x":710,"y":740,"wires":[["65fadc71.8ba204"]]},{"id":"ed364fb7.0fb88","type":"inject","z":"b1723f44.54ecb","name":"0","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"str","x":710,"y":660,"wires":[["65fadc71.8ba204"]]},{"id":"b993ca32.122d98","type":"inject","z":"b1723f44.54ecb","name":"100","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"100","payloadType":"str","x":710,"y":820,"wires":[["65fadc71.8ba204"]]},{"id":"6f39a714.336bc8","type":"inject","z":"b1723f44.54ecb","name":"255","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"255","payloadType":"str","x":710,"y":900,"wires":[["65fadc71.8ba204"]]},{"id":"ba4566ad.0d1998","type":"mqtt in","z":"b1723f44.54ecb","name":"ADC2","topic":"mqtt/Lamp2/adc","qos":"2","datatype":"auto","broker":"6d5d992d.6206c8","x":570,"y":1020,"wires":[["23aea17b.7af65e"]]},{"id":"6f7bbb29.1c0f94","type":"debug","z":"b1723f44.54ecb","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1010,"y":1020,"wires":[]},{"id":"23aea17b.7af65e","type":"function","z":"b1723f44.54ecb","name":"Fields","func":"var value = msg.payload\nmsg.payload = {\n    valueADC: value,\n    strValue: \"Lamp2ADC\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":1020,"wires":[["6f7bbb29.1c0f94"]]},{"id":"e9af59cf.015218","type":"inject","z":"b1723f44.54ecb","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"100","payloadType":"num","x":130,"y":780,"wires":[["f5b25aeb.41c868"]]},{"id":"461bcfbc.d10d8","type":"mqtt in","z":"5c2a57a.39a4fa8","name":"floraC47C8D62A577","topic":"home/Gateway/BTtoMQTT/C47C8D62A577/#","qos":"0","datatype":"auto","broker":"6d5d992d.6206c8","x":210,"y":820,"wires":[["a6d9952d.813ec8","216efb57.154f94"]]},{"id":"9c43bbb9.0cd648","type":"debug","z":"5c2a57a.39a4fa8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":770,"y":820,"wires":[]},{"id":"8a5aabc4.286bc8","type":"function","z":"5c2a57a.39a4fa8","name":"Fields","func":"var keyFlora = (Object.keys(msg.payload)[0]);\nmsg.payload = {\n    numFlora: \"C47C8D62A577\",\n    name: 'Cymbidium',\n    parametr: keyFlora,\n    value: msg.payload[keyFlora]\n    }\nreturn msg;\n","outputs":1,"noerr":0,"x":570,"y":820,"wires":[["9c43bbb9.0cd648","d21d2726.3ce028"]]},{"id":"a6d9952d.813ec8","type":"json","z":"5c2a57a.39a4fa8","name":"","property":"payload","action":"","pretty":false,"x":410,"y":820,"wires":[["8a5aabc4.286bc8"]]},{"id":"d21d2726.3ce028","type":"influxdb out","z":"5c2a57a.39a4fa8","influxdb":"91e47ebe.114cc","name":"flora-C47C8D62A577","measurement":"flora-C47C8D62A577","precision":"","retentionPolicy":"","x":780,"y":780,"wires":[]},{"id":"4138a93e.a59a88","type":"mqtt in","z":"5c2a57a.39a4fa8","name":"floraC47C8D62422D","topic":"home/Gateway/BTtoMQTT/C47C8D62422D/#","qos":"0","datatype":"auto","broker":"6d5d992d.6206c8","x":210,"y":900,"wires":[["5b343ae3.b78434"]]},{"id":"956303e1.f5695","type":"debug","z":"5c2a57a.39a4fa8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":780,"y":900,"wires":[]},{"id":"e7b6ccc2.5d78a","type":"function","z":"5c2a57a.39a4fa8","name":"Fields","func":"var keyFlora = (Object.keys(msg.payload)[0]);\nmsg.payload = {\n    numFlora: \"C47C8D62422D\",\n    name: 'Laurus',\n    parametr: keyFlora,\n    value: msg.payload[keyFlora]\n    }\nreturn msg;\n","outputs":1,"noerr":0,"x":570,"y":900,"wires":[["956303e1.f5695","5d02d152.73f61"]]},{"id":"5b343ae3.b78434","type":"json","z":"5c2a57a.39a4fa8","name":"","property":"payload","action":"","pretty":false,"x":410,"y":900,"wires":[["e7b6ccc2.5d78a"]]},{"id":"5d02d152.73f61","type":"influxdb out","z":"5c2a57a.39a4fa8","influxdb":"3b7cd9bc.25d226","name":"flora-C47C8D62422D","measurement":"flora-C47C8D62422D","precision":"","retentionPolicy":"","x":780,"y":860,"wires":[]},{"id":"9fb77258.2ab42","type":"mqtt in","z":"5c2a57a.39a4fa8","name":"floraC47C8D6273FC","topic":"home/Gateway/BTtoMQTT/C47C8D6273FC/#","qos":"0","datatype":"auto","broker":"6d5d992d.6206c8","x":220,"y":980,"wires":[["39817d1e.5bf9e2"]]},{"id":"39817d1e.5bf9e2","type":"json","z":"5c2a57a.39a4fa8","name":"","property":"payload","action":"","pretty":false,"x":410,"y":980,"wires":[["eeaecf1a.86d34"]]},{"id":"eeaecf1a.86d34","type":"function","z":"5c2a57a.39a4fa8","name":"Fields","func":"var keyFlora = (Object.keys(msg.payload)[0]);\nmsg.payload = {\n    numFlora: \"C47C8D6273FC\",\n    name: 'Ficus',\n    parametr: keyFlora,\n    value: msg.payload[keyFlora]\n    }\nreturn msg;\n","outputs":1,"noerr":0,"x":570,"y":980,"wires":[["4100d2de.647d0c","e942ba6e.022228"]]},{"id":"4100d2de.647d0c","type":"debug","z":"5c2a57a.39a4fa8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":760,"y":980,"wires":[]},{"id":"e942ba6e.022228","type":"influxdb out","z":"5c2a57a.39a4fa8","influxdb":"85ac72e9.c6bb2","name":"flora-C47C8D6273FC","measurement":"flora-C47C8D6273FC","precision":"","retentionPolicy":"","x":780,"y":940,"wires":[]},{"id":"88fa9dbe.ae4eb","type":"influxdb batch","z":"5c2a57a.39a4fa8","influxdb":"fff3774d.8ab808","precision":"","retentionPolicy":"","name":"","x":750,"y":640,"wires":[]},{"id":"6776e746.3b5748","type":"mqtt in","z":"5c2a57a.39a4fa8","name":"floraC47C8D61A2A7","topic":"home/Gateway/BTtoMQTT/C47C8D61A2A7/#","qos":"0","datatype":"auto","broker":"6d5d992d.6206c8","x":220,"y":1060,"wires":[["6c17cadd.3c3be4"]]},{"id":"d077f982.b59198","type":"debug","z":"5c2a57a.39a4fa8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":770,"y":1060,"wires":[]},{"id":"caeb3f69.a8d6b","type":"influxdb out","z":"5c2a57a.39a4fa8","influxdb":"70d922cd.cc611c","name":"flora-C47C8D61A2A7","measurement":"flora-C47C8D61A2A7","precision":"","retentionPolicy":"","x":780,"y":1020,"wires":[]},{"id":"6c17cadd.3c3be4","type":"json","z":"5c2a57a.39a4fa8","name":"","property":"payload","action":"","pretty":false,"x":410,"y":1060,"wires":[["c910e130.807fd"]]},{"id":"c910e130.807fd","type":"function","z":"5c2a57a.39a4fa8","name":"Fields","func":"var keyFlora = (Object.keys(msg.payload)[0]);\nmsg.payload = {\n    numFlora: \"C47C8D61A2A7\",\n    name: 'Dracaena',\n    parametr: keyFlora,\n    value: msg.payload[keyFlora]\n    }\nreturn msg;\n","outputs":1,"noerr":0,"x":570,"y":1060,"wires":[["d077f982.b59198","caeb3f69.a8d6b"]]},{"id":"47d7444d.23e7fc","type":"inject","z":"4788f78d.cd37e8","name":"URL every 15 min","repeat":"900","crontab":"","once":true,"onceDelay":"30","topic":"Кунгуров","payload":"","payloadType":"date","x":130,"y":240,"wires":[["ed93e302.83cb4","836f9825.d26218","caa6d14b.61861","94ff47b.610c9b8","759305ea.b33b9c","d38e6d7d.a7dd9"]]},{"id":"97b9a61d.38a9d8","type":"html","z":"4788f78d.cd37e8","name":"Select all post","property":"payload","outproperty":"payload","tag":".entry","ret":"attr","as":"multi","x":420,"y":360,"wires":[["d1771260.266fa"]]},{"id":"d1771260.266fa","type":"switch","z":"4788f78d.cd37e8","name":"first post select","property":"payload","propertyType":"msg","rules":[{"t":"head","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":420,"y":440,"wires":[["446f4611.6de428"]]},{"id":"b07b8010.c370b","type":"delay","z":"4788f78d.cd37e8","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":420,"y":160,"wires":[["836f9825.d26218"]]},{"id":"9612ed1.d1b731","type":"pushbullet","z":"4788f78d.cd37e8","config":"3dad2d52.92b2e2","pushtype":"","title":"","chan":"","name":"Node-Red notification","x":1000,"y":520,"wires":[]},{"id":"9593be59.7d046","type":"inject","z":"4788f78d.cd37e8","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"https://kungurov.livejournal.com/","payloadType":"str","x":710,"y":520,"wires":[["9612ed1.d1b731"]]},{"id":"3760ced5.e77552","type":"pushbullet in","z":"4788f78d.cd37e8","d":true,"config":"3dad2d52.92b2e2","name":"xiaomi","x":650,"y":160,"wires":[["4af3b485.faa5bc"]]},{"id":"4af3b485.faa5bc","type":"debug","z":"4788f78d.cd37e8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":850,"y":160,"wires":[]},{"id":"cfb23764.733598","type":"catch","z":"4788f78d.cd37e8","name":"site","scope":["d1771260.266fa","836f9825.d26218"],"uncaught":false,"x":90,"y":160,"wires":[["a142e448.650788"]]},{"id":"a142e448.650788","type":"delay","z":"4788f78d.cd37e8","name":"repit","pauseType":"rate","timeout":"5","timeoutUnits":"minutes","rate":"3","nbRateUnits":"10","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":250,"y":160,"wires":[["b07b8010.c370b"]]},{"id":"b63bc9cb.3fae78","type":"change","z":"4788f78d.cd37e8","name":"save post","rules":[{"t":"set","p":"#:(nas)::post","pt":"flow","to":"payload","tot":"msg"},{"t":"set","p":"post","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":880,"y":380,"wires":[["d406c03f.0fe06"]]},{"id":"da90b33d.76c34","type":"switch","z":"4788f78d.cd37e8","name":"compare post","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"post","vt":"flow"},{"t":"eq","v":"#:(nas)::post","vt":"flow"},{"t":"else"}],"checkall":"false","repair":false,"outputs":3,"x":680,"y":360,"wires":[[],[],["b63bc9cb.3fae78"]]},{"id":"ed93e302.83cb4","type":"switch","z":"4788f78d.cd37e8","name":"post init","property":"#:(nas)::post","propertyType":"flow","rules":[{"t":"nempty"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":140,"y":320,"wires":[[],["4d7950f5.a6bd9"]]},{"id":"4d7950f5.a6bd9","type":"change","z":"4788f78d.cd37e8","name":"","rules":[{"t":"set","p":"#:(nas)::post","pt":"flow","to":"\" \"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":150,"y":400,"wires":[[]]},{"id":"14f1944.4aa686c","type":"inject","z":"4788f78d.cd37e8","name":"init post","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":480,"wires":[["4d7950f5.a6bd9"]]},{"id":"446f4611.6de428","type":"change","z":"4788f78d.cd37e8","name":"select id","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.id","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":440,"wires":[["da90b33d.76c34"]]},{"id":"3b439e21.6f2d12","type":"http request","z":"d09ab75b.1e64b8","name":"","method":"GET","ret":"txt","url":"","x":610,"y":480,"wires":[["3946a9bc.225676","152278f6.cc9e07"]]},{"id":"f6463ae1.0353d8","type":"inject","z":"d09ab75b.1e64b8","name":"URL","props":[{"p":"payload","v":"https://kungurov.livejournal.com/","vt":"str"},{"p":"topic","v":"","vt":"string"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"https://kungurov.livejournal.com/","payloadType":"str","x":230,"y":480,"wires":[["12ad2fc0.3f2e5"]]},{"id":"12ad2fc0.3f2e5","type":"change","z":"d09ab75b.1e64b8","name":"","rules":[{"t":"set","p":"url","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":480,"wires":[["3b439e21.6f2d12"]]},{"id":"3946a9bc.225676","type":"debug","z":"d09ab75b.1e64b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":810,"y":480,"wires":[]},{"id":"652ccbbd.dfa6d4","type":"debug","z":"d09ab75b.1e64b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":835,"y":580,"wires":[]},{"id":"152278f6.cc9e07","type":"html","z":"d09ab75b.1e64b8","name":"","property":"","outproperty":"","tag":".entry","ret":"attr","as":"multi","x":541.5,"y":580,"wires":[["652ccbbd.dfa6d4"]]},{"id":"c01e6eaa.f9808","type":"html","z":"d09ab75b.1e64b8","name":"Select all post","property":"payload","outproperty":"payload","tag":".entry","ret":"attr","as":"multi","x":600,"y":660,"wires":[[]]},{"id":"836f9825.d26218","type":"http request","z":"4788f78d.cd37e8","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"https://kungurov.livejournal.com/","tls":"","proxy":"","authType":"","x":410,"y":280,"wires":[["97b9a61d.38a9d8"]]},{"id":"208d8f37.34b51","type":"http request","z":"d09ab75b.1e64b8","name":"","method":"GET","ret":"bin","paytoqs":false,"url":"http://192.168.1.97/cgi-bin/snapshot.cgi","tls":"","persist":false,"proxy":"","authType":"basic","x":390,"y":300,"wires":[["e968776a.8cc358","6ea21d6.96acee4"]]},{"id":"7cdec381.123aec","type":"ui_template","z":"d09ab75b.1e64b8","group":"27b3edbe.608c22","name":"Display image","order":1,"width":"6","height":"6","format":"<img width=\"16\" height=\"16\" alt=\"mjpeg test...\" src=\"data:image/jpg;base64,{{msg.payload}}\" />\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":772.3645515441895,"y":300.6041603088379,"wires":[[]]},{"id":"e968776a.8cc358","type":"base64","z":"d09ab75b.1e64b8","name":"Encode","action":"","property":"payload","x":572.3645515441895,"y":300.6041603088379,"wires":[["7cdec381.123aec"]]},{"id":"54ceb22.eedd64c","type":"inject","z":"d09ab75b.1e64b8","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":172.36455154418945,"y":300.6041603088379,"wires":[["208d8f37.34b51"]]},{"id":"6ea21d6.96acee4","type":"debug","z":"d09ab75b.1e64b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":752.3645515441895,"y":360.6041603088379,"wires":[]},{"id":"4673c783.0dac08","type":"mqtt out","z":"d452e8ea.f65308","name":"Lamp1","topic":"mqtt/Lamp1/output5","qos":"2","retain":"","broker":"6d5d992d.6206c8","x":2210,"y":120,"wires":[]},{"id":"4ca573fa.e1633c","type":"inject","z":"d452e8ea.f65308","name":"on","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"num","x":1990,"y":40,"wires":[["4673c783.0dac08"]]},{"id":"fef6a137.00237","type":"inject","z":"d452e8ea.f65308","name":"off","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":1990,"y":200,"wires":[["4673c783.0dac08"]]},{"id":"1e3b6008.5a008","type":"change","z":"d452e8ea.f65308","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"lamp","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1740,"y":120,"wires":[["df1e6205.571c"]]},{"id":"7b564787.b7c668","type":"inject","z":"d452e8ea.f65308","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"test off","payloadType":"str","x":1490,"y":780,"wires":[["54a9bbf0.ab3654"]]},{"id":"54a9bbf0.ab3654","type":"change","z":"d452e8ea.f65308","name":"setOn","rules":[{"t":"set","p":"lamp","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1750,"y":780,"wires":[[]]},{"id":"df1e6205.571c","type":"change","z":"d452e8ea.f65308","name":"true/false -> 1/0","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"str","to":"1","tot":"num"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"str","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1980,"y":120,"wires":[["4673c783.0dac08"]]},{"id":"c6a72b0.3c801d8","type":"inject","z":"58522408.5e1f6c","name":"","repeat":"","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"auto","payloadType":"str","x":110,"y":100,"wires":[["9730d896.a2ed08","73e66a50.83c1c4"]]},{"id":"3068cd7d.d02cb2","type":"mqtt out","z":"58522408.5e1f6c","name":"Lamp1","topic":"mqtt/Lamp1/output5","qos":"2","retain":"","broker":"6d5d992d.6206c8","x":1070,"y":720,"wires":[]},{"id":"9730d896.a2ed08","type":"bigtimer","z":"58522408.5e1f6c","d":true,"outtopic":"timer1","outpayload1":"true","outpayload2":"false","name":"Big Timer","comment":"timer1","lat":"53.24802","lon":"50.19207","starttime":"5001","endtime":"1425","starttime2":"0","endtime2":"0","startoff":0,"endoff":0,"startoff2":0,"endoff2":0,"offs":0,"outtext1":"","outtext2":"","timeout":"1440","sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":"0","month1":"0","day2":"","month2":"","day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"day7":"","month7":"","day8":"","month8":"","day9":"","month9":"","day10":"","month10":"","day11":"","month11":"","day12":"","month12":"","d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":"","xmonth1":"","xday2":0,"xmonth2":0,"xday3":0,"xmonth3":0,"xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":0,"xmonth6":0,"xd1":"0","xw1":"0","xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"repeat":false,"atstart":true,"odd":false,"even":false,"x":340,"y":160,"wires":[["5eba41f4.6554e"],["bcf66ae.ea8b298"],["e55b2b25.0416e8"]]},{"id":"5eba41f4.6554e","type":"debug","z":"58522408.5e1f6c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":550,"y":100,"wires":[]},{"id":"5a051127.c5d41","type":"inject","z":"58522408.5e1f6c","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"on","payloadType":"str","x":110,"y":160,"wires":[["9730d896.a2ed08"]]},{"id":"66dcfcc5.607fb4","type":"inject","z":"58522408.5e1f6c","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"off","payloadType":"str","x":110,"y":200,"wires":[["9730d896.a2ed08"]]},{"id":"73e66a50.83c1c4","type":"bigtimer","z":"58522408.5e1f6c","outtopic":"timer2","outpayload1":"true","outpayload2":"false","name":"Big Timer","comment":"timer2","lat":"53.24802","lon":"50.19207","starttime":"5004","endtime":"5000","starttime2":"0","endtime2":"0","startoff":"-15","endoff":0,"startoff2":0,"endoff2":0,"offs":0,"outtext1":"","outtext2":"","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"day7":"","month7":"","day8":"","month8":"","day9":"","month9":"","day10":"","month10":"","day11":"","month11":"","day12":"","month12":"","d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":0,"xmonth1":0,"xday2":0,"xmonth2":0,"xday3":0,"xmonth3":0,"xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":0,"xmonth6":0,"xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"repeat":false,"atstart":true,"odd":false,"even":false,"x":340,"y":280,"wires":[["4bb9a6da.f64318","6999c898.12aa98"],[],[]]},{"id":"4bb9a6da.f64318","type":"debug","z":"58522408.5e1f6c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":570,"y":220,"wires":[]},{"id":"2a4f6424.f719ac","type":"inject","z":"58522408.5e1f6c","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"on","payloadType":"str","x":110,"y":280,"wires":[["73e66a50.83c1c4"]]},{"id":"a2a21787.0728f8","type":"inject","z":"58522408.5e1f6c","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"off","payloadType":"str","x":110,"y":320,"wires":[["73e66a50.83c1c4"]]},{"id":"6f54b8c8.5d27e8","type":"debug","z":"d09ab75b.1e64b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":950,"y":740,"wires":[]},{"id":"5359f628.01dbc8","type":"change","z":"d09ab75b.1e64b8","name":"+1","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload + 1","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":740,"wires":[["a387d342.d4bd4","a0c03c46.ab10b"]]},{"id":"22d9b63e.86f3da","type":"inject","z":"d09ab75b.1e64b8","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"num","x":150,"y":740,"wires":[["5359f628.01dbc8","206246a4.a41a9a"]]},{"id":"206246a4.a41a9a","type":"debug","z":"d09ab75b.1e64b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":390,"y":880,"wires":[]},{"id":"a387d342.d4bd4","type":"change","z":"d09ab75b.1e64b8","name":"+1","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload + 1","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":740,"wires":[["6f54b8c8.5d27e8"]]},{"id":"a0c03c46.ab10b","type":"debug","z":"d09ab75b.1e64b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":690,"y":880,"wires":[]},{"id":"216efb57.154f94","type":"debug","z":"5c2a57a.39a4fa8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":540,"y":720,"wires":[]},{"id":"3f5b61d1.9173be","type":"inject","z":"4788f78d.cd37e8","name":"make request","repeat":"","crontab":"","once":false,"onceDelay":"100","topic":"","payload":"Node-Red","payloadType":"str","x":130,"y":700,"wires":[["94ff47b.610c9b8"]]},{"id":"94ff47b.610c9b8","type":"http request","z":"4788f78d.cd37e8","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"https://www.npmjs.com/package/node-red","tls":"","persist":false,"proxy":"","authType":"","x":330,"y":700,"wires":[["9b0c115a.9633e","e226be69.a9c72"]]},{"id":"9b0c115a.9633e","type":"html","z":"4788f78d.cd37e8","name":"select version NR","property":"","outproperty":"","tag":"span._76473bea:nth-child(2)","ret":"text","as":"single","x":530,"y":700,"wires":[["eae153a9.0e36a","9c51116b.c30f"]]},{"id":"a591d66f.ff62b8","type":"debug","z":"4788f78d.cd37e8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":970,"y":700,"wires":[]},{"id":"eae153a9.0e36a","type":"change","z":"4788f78d.cd37e8","name":"select 5 simbols","rules":[{"t":"set","p":"payload","pt":"msg","to":"$substring(payload[0], 0, 5)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":700,"wires":[["a591d66f.ff62b8","4268a4a9.4a17bc"]]},{"id":"4268a4a9.4a17bc","type":"switch","z":"4788f78d.cd37e8","name":"compare post","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"node","vt":"flow"},{"t":"eq","v":"#:(nas)::node","vt":"flow"},{"t":"else"}],"checkall":"false","repair":false,"outputs":3,"x":580,"y":600,"wires":[[],[],["7450ddef.fe8d24"]]},{"id":"caa6d14b.61861","type":"switch","z":"4788f78d.cd37e8","name":"node init","property":"#:(nas)::node","propertyType":"flow","rules":[{"t":"nempty"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":340,"y":560,"wires":[[],["eb8bc730.75f828"]]},{"id":"eb8bc730.75f828","type":"change","z":"4788f78d.cd37e8","name":"","rules":[{"t":"set","p":"#:(nas)::node","pt":"flow","to":"\" \"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":620,"wires":[[]]},{"id":"7450ddef.fe8d24","type":"change","z":"4788f78d.cd37e8","name":"save node","rules":[{"t":"set","p":"#:(nas)::node","pt":"flow","to":"payload","tot":"msg"},{"t":"set","p":"node","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":620,"wires":[["6e9d4c4f.42d034"]]},{"id":"6e9d4c4f.42d034","type":"change","z":"4788f78d.cd37e8","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"Node-Red version:","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":950,"y":640,"wires":[["9612ed1.d1b731"]]},{"id":"995db54c.10d6e8","type":"change","z":"4788f78d.cd37e8","name":"address","rules":[{"t":"set","p":"payload","pt":"msg","to":"https://kungurov.livejournal.com/","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1100,"y":380,"wires":[["e9c1dace.688358","4bc71946.24fb98","9612ed1.d1b731"]]},{"id":"e7324de1.561be","type":"inject","z":"d452e8ea.f65308","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"system\":{\"hostname\":\"test\",\"uptime\":56858,\"rssi\":-59,\"freemem\":13264},\"sensors\":{\"dsw1\":28.9,\"dsw2\":28.8,\"dsw3\":28.1,\"dsw4\":25.5,\"ping\":1},\"gpio\":{\"5\":1,\"16\":0},\"pwm\":{\"0\":120}}","payloadType":"json","x":510,"y":340,"wires":[["1c9da62d.53b92a"]]},{"id":"a0cf2469.7fbf38","type":"http request","z":"10ab9a74.e34a16","name":"request work calendar","method":"GET","ret":"txt","paytoqs":false,"url":"https://data.gov.ru/api/json/dataset/7708660670-proizvcalendar/version/20151123T183036/content?access_token=8248049d3b80aced78befffb1893a35d","tls":"","persist":false,"proxy":"","authType":"","x":200,"y":240,"wires":[["6e06d577.2ff39c"]]},{"id":"6e06d577.2ff39c","type":"json","z":"10ab9a74.e34a16","name":"","property":"payload","action":"","pretty":false,"x":150,"y":320,"wires":[["b0adeefd.18434"]]},{"id":"b0adeefd.18434","type":"function","z":"10ab9a74.e34a16","name":"get this and next year","func":"const thisYear = new Date().getFullYear();\n\nconst nextAndThisYear = msg.payload.filter(x=>{\n    return x[\"Год/Месяц\"] === thisYear.toString() || x[\"Год/Месяц\"] === (thisYear + 1).toString();\n})\nconst newMsg = {payload: nextAndThisYear};\n\nreturn newMsg;","outputs":1,"noerr":0,"x":340,"y":320,"wires":[["e254507a.1bb4c"]]},{"id":"e254507a.1bb4c","type":"function","z":"10ab9a74.e34a16","name":"transform","func":"const documents = [];\n\nmsg.payload.forEach(x=>{\n    const yearDocument = [];\n    \n    yearDocument[0] = x[\"Январь\"].split(',');\n    yearDocument[1] = x[\"Февраль\"].split(',');\n    yearDocument[2] = x[\"Март\"].split(',');\n    yearDocument[3] = x[\"Апрель\"].split(',');\n    yearDocument[4] = x[\"Май\"].split(',');\n    yearDocument[5] = x[\"Июнь\"].split(',');\n    yearDocument[6] = x[\"Июль\"].split(',');\n    yearDocument[7] = x[\"Август\"].split(',');\n    yearDocument[8] = x[\"Сентябрь\"].split(',');\n    yearDocument[9] = x[\"Октябрь\"].split(',');\n    yearDocument[10] = x[\"Ноябрь\"].split(',');\n    yearDocument[11] = x[\"Декабрь\"].split(',');\n    \n    documents.push(yearDocument);\n});\n\nmsg.payload = documents;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":320,"wires":[["93d95182.adb33"]]},{"id":"93d95182.adb33","type":"split","z":"10ab9a74.e34a16","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":710,"y":320,"wires":[["bb69d796.0e7338"]]},{"id":"bb69d796.0e7338","type":"function","z":"10ab9a74.e34a16","name":"transform for db","func":"const newMsg = {};\nconst thisYear = new Date().getFullYear();\n\nnewMsg.payload = {\n    year: msg.parts.index === 0 ? thisYear : thisYear + 1,\n    monthes: msg.payload\n}\n\nreturn newMsg;","outputs":1,"noerr":0,"x":880,"y":320,"wires":[["a06a9483.f03ef8","2599981b.2c7b58"]]},{"id":"2599981b.2c7b58","type":"function","z":"10ab9a74.e34a16","name":"set ready to save","func":"const $set = {$set: msg.payload};\nconst newMsg ={payload: $set, query: {year:msg.payload.year}};\nreturn newMsg;","outputs":1,"noerr":0,"x":930,"y":240,"wires":[[]]},{"id":"c43b28b5.d21568","type":"inject","z":"10ab9a74.e34a16","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":160,"wires":[["a0cf2469.7fbf38"]]},{"id":"a06a9483.f03ef8","type":"debug","z":"10ab9a74.e34a16","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":950,"y":400,"wires":[]},{"id":"2eb80e5.ff0eef2","type":"inject","z":"d09ab75b.1e64b8","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"post-kungurov-260369","payloadType":"str","x":180,"y":1220,"wires":[["ad1e9b7e.dd5d48"]]},{"id":"e3979513.4eb468","type":"http request","z":"d09ab75b.1e64b8","name":"","method":"GET","ret":"txt","url":"","x":450,"y":1360,"wires":[["ab8d2029.5c7c7"]]},{"id":"a0375848.830c78","type":"change","z":"d09ab75b.1e64b8","name":"","rules":[{"t":"set","p":"url","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":1220,"wires":[["e3979513.4eb468"]]},{"id":"759f5364.bced9c","type":"debug","z":"d09ab75b.1e64b8","name":"","active":true,"console":"false","complete":"false","x":830,"y":1360,"wires":[]},{"id":"ab8d2029.5c7c7","type":"html","z":"d09ab75b.1e64b8","name":"","property":"payload","outproperty":"payload","tag":"head > title","ret":"text","as":"multi","x":630,"y":1360,"wires":[["759f5364.bced9c"]]},{"id":"ad1e9b7e.dd5d48","type":"function","z":"d09ab75b.1e64b8","name":"create URL","func":"msg.payload = parseInt(msg.payload.match(/\\d+/));\nmsg.payload = `https://kungurov.livejournal.com/${msg.payload}.html`\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":1160,"wires":[["a0375848.830c78"]]},{"id":"7c68f006.69f24","type":"http request","z":"4788f78d.cd37e8","name":"","method":"GET","ret":"txt","url":"","x":1070,"y":280,"wires":[["78192a14.bb22b4"]]},{"id":"c16ef2d4.e3277","type":"change","z":"4788f78d.cd37e8","name":"","rules":[{"t":"set","p":"url","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":870,"y":280,"wires":[["7c68f006.69f24"]]},{"id":"78192a14.bb22b4","type":"html","z":"4788f78d.cd37e8","name":"","property":"payload","outproperty":"topic","tag":"head > title","ret":"text","as":"multi","x":1250,"y":280,"wires":[["995db54c.10d6e8"]]},{"id":"d406c03f.0fe06","type":"function","z":"4788f78d.cd37e8","name":"create URL","func":"msg.payload = parseInt(msg.payload.match(/\\d+/));\nmsg.payload = `https://kungurov.livejournal.com/${msg.payload}.html`\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":280,"wires":[["c16ef2d4.e3277"]]},{"id":"e9c1dace.688358","type":"debug","z":"4788f78d.cd37e8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1240,"y":440,"wires":[]},{"id":"4bc71946.24fb98","type":"debug","z":"4788f78d.cd37e8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"topic","targetType":"msg","x":1230,"y":500,"wires":[]},{"id":"e55b2b25.0416e8","type":"debug","z":"58522408.5e1f6c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":570,"y":180,"wires":[]},{"id":"bcf66ae.ea8b298","type":"debug","z":"58522408.5e1f6c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":550,"y":140,"wires":[]},{"id":"c27bac63.b2148","type":"inject","z":"58522408.5e1f6c","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"sync","payloadType":"str","x":110,"y":40,"wires":[["9730d896.a2ed08"]]},{"id":"12838ee3.7dd9d1","type":"Toggle","z":"10ab9a74.e34a16","device":"9fcbf278.94eed","name":"Комната:Уютный дом","instance":"backlight","x":470,"y":440,"wires":[["a571c984.0f3538","c7d06ce6.4e203","3089e362.4ceb1c"]]},{"id":"a571c984.0f3538","type":"debug","z":"10ab9a74.e34a16","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":720,"y":520,"wires":[]},{"id":"e28241af.5bf","type":"inject","z":"10ab9a74.e34a16","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":190,"y":440,"wires":[["12838ee3.7dd9d1"]]},{"id":"443f9906.2d7048","type":"inject","z":"10ab9a74.e34a16","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"false","payloadType":"bool","x":170,"y":500,"wires":[["12838ee3.7dd9d1"]]},{"id":"c7d06ce6.4e203","type":"function","z":"10ab9a74.e34a16","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":520,"wires":[["12838ee3.7dd9d1"]]},{"id":"f13d0c87.178f5","type":"inject","z":"58522408.5e1f6c","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"num","x":830,"y":780,"wires":[["3068cd7d.d02cb2"]]},{"id":"df90168a.332578","type":"inject","z":"58522408.5e1f6c","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":830,"y":840,"wires":[["3068cd7d.d02cb2"]]},{"id":"84389e77.57afa","type":"Toggle","z":"d452e8ea.f65308","device":"a6c29287.593a1","name":"Комната:Лампы","instance":"backlight","x":2410,"y":320,"wires":[["713812c7.b62ffc","2b127ea3.e81722","df1e6205.571c"]]},{"id":"713812c7.b62ffc","type":"debug","z":"d452e8ea.f65308","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":2670,"y":320,"wires":[]},{"id":"62efbf30.7ba24","type":"inject","z":"d452e8ea.f65308","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":2150,"y":320,"wires":[["84389e77.57afa"]]},{"id":"18746818.2f23a8","type":"inject","z":"d452e8ea.f65308","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"false","payloadType":"bool","x":2150,"y":400,"wires":[["84389e77.57afa"]]},{"id":"2b127ea3.e81722","type":"function","z":"d452e8ea.f65308","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":2420,"y":400,"wires":[["84389e77.57afa"]]},{"id":"5cade2ff.3b092c","type":"mqtt out","z":"10ab9a74.e34a16","name":"Lamp1","topic":"mqtt/Lamp1/output5","qos":"2","retain":"","broker":"6d5d992d.6206c8","x":790,"y":620,"wires":[]},{"id":"3089e362.4ceb1c","type":"change","z":"10ab9a74.e34a16","name":"true/false -> 1/0","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"str","to":"1","tot":"num"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"str","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":620,"wires":[["5cade2ff.3b092c"]]},{"id":"9c51116b.c30f","type":"debug","z":"4788f78d.cd37e8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":690,"y":760,"wires":[]},{"id":"e226be69.a9c72","type":"debug","z":"4788f78d.cd37e8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":470,"y":760,"wires":[]},{"id":"dba7e504.a22108","type":"mqtt in","z":"58522408.5e1f6c","name":"MSI","topic":"msi/powerstatus","qos":"2","datatype":"auto","broker":"6d5d992d.6206c8","x":750,"y":100,"wires":[["8b6fdc18.72995","9282d4f0.60a598"]]},{"id":"8b6fdc18.72995","type":"debug","z":"58522408.5e1f6c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":990,"y":100,"wires":[]},{"id":"9282d4f0.60a598","type":"change","z":"58522408.5e1f6c","name":"MSI ip","rules":[{"t":"set","p":"msi-ip","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":940,"y":60,"wires":[[]]},{"id":"31b69ad8.7df206","type":"adv ping","z":"58522408.5e1f6c","name":"","host":"","x":940,"y":360,"wires":[["40f72a16.ff0764"]]},{"id":"80924e9c.de6dc","type":"change","z":"58522408.5e1f6c","name":"","rules":[{"t":"set","p":"host","pt":"msg","to":"msi-ip","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":950,"y":300,"wires":[["31b69ad8.7df206"]]},{"id":"40f72a16.ff0764","type":"switch","z":"58522408.5e1f6c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"false"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":630,"y":420,"wires":[["cbfad464.f59168"],["e9de1e1c.0b65b"]]},{"id":"567252a7.61edbc","type":"debug","z":"58522408.5e1f6c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":770,"y":560,"wires":[]},{"id":"61512355.43846c","type":"inject","z":"58522408.5e1f6c","name":"","repeat":"180","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":830,"y":200,"wires":[["4449852a.9fe0fc"]]},{"id":"e9de1e1c.0b65b","type":"change","z":"58522408.5e1f6c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":500,"wires":[["353136c.61396ca"]]},{"id":"cbfad464.f59168","type":"change","z":"58522408.5e1f6c","name":"","rules":[{"t":"set","p":"msi","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":850,"y":460,"wires":[["a12098e5.356718","567252a7.61edbc"]]},{"id":"353136c.61396ca","type":"change","z":"58522408.5e1f6c","name":"","rules":[{"t":"set","p":"msi","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":600,"wires":[["f7f2caec.593e88","567252a7.61edbc"]]},{"id":"76eff066.70dab","type":"change","z":"58522408.5e1f6c","name":"","rules":[{"t":"set","p":"timer","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":280,"wires":[["80924e9c.de6dc"]]},{"id":"6999c898.12aa98","type":"switch","z":"58522408.5e1f6c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"true","vt":"str"},{"t":"eq","v":"false","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":530,"y":300,"wires":[["76eff066.70dab"],["10266a71.510766"]]},{"id":"10266a71.510766","type":"change","z":"58522408.5e1f6c","name":"","rules":[{"t":"set","p":"timer","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":250,"y":720,"wires":[["a12098e5.356718"]]},{"id":"f7f2caec.593e88","type":"change","z":"58522408.5e1f6c","name":"1","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":660,"wires":[["3068cd7d.d02cb2"]]},{"id":"a12098e5.356718","type":"change","z":"58522408.5e1f6c","name":"0","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":720,"wires":[["3068cd7d.d02cb2"]]},{"id":"865130e0.00776","type":"mqtt in","z":"58522408.5e1f6c","name":"Lamp2","topic":"mqtt/Lamp2/blue","qos":"2","datatype":"auto","broker":"6d5d992d.6206c8","x":90,"y":400,"wires":[["54b210f3.b4f64"]]},{"id":"54b210f3.b4f64","type":"debug","z":"58522408.5e1f6c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":350,"y":400,"wires":[]},{"id":"7c873e63.c9606","type":"mqtt in","z":"58522408.5e1f6c","name":"Lamp1","topic":"mqtt/Lamp1/output5","qos":"2","datatype":"auto","broker":"6d5d992d.6206c8","x":90,"y":460,"wires":[["54b210f3.b4f64"]]},{"id":"4449852a.9fe0fc","type":"switch","z":"58522408.5e1f6c","name":"timer == true","property":"timer","propertyType":"flow","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1040,"y":200,"wires":[["80924e9c.de6dc"]]},{"id":"1091f695.3aad39","type":"function","z":"58522408.5e1f6c","name":"status","func":"msg.payload = !msg.payload;\nif (msg.payload === true) node.status({fill:\"green\",shape:\"ring\",text:\"on\"})\nelse node.status({fill:\"green\",shape:\"dot\",text:\"on\"});\nreturn msg;","outputs":1,"noerr":0,"x":170,"y":540,"wires":[["165890c5.3c0a5f"]]},{"id":"351a80fd.c5189","type":"inject","z":"58522408.5e1f6c","name":"","repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":290,"y":900,"wires":[["6c7e419f.77d4b"]]},{"id":"79ec5ab9.548fd4","type":"inject","z":"58522408.5e1f6c","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"false","payloadType":"bool","x":290,"y":960,"wires":[["90a9229f.08c87"]]},{"id":"1baed8af.949a37","type":"delay","z":"58522408.5e1f6c","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":280,"y":820,"wires":[["b39bb426.0bfe88"]]},{"id":"165890c5.3c0a5f","type":"link out","z":"58522408.5e1f6c","name":"","links":["b1d3a4d0.0d5c18"],"x":275,"y":540,"wires":[]},{"id":"b1d3a4d0.0d5c18","type":"link in","z":"58522408.5e1f6c","name":"","links":["165890c5.3c0a5f"],"x":155,"y":820,"wires":[["1baed8af.949a37"]]},{"id":"10978d6f.293d83","type":"link in","z":"58522408.5e1f6c","name":"","links":["b39bb426.0bfe88","6c7e419f.77d4b","90a9229f.08c87"],"x":55,"y":540,"wires":[["1091f695.3aad39"]]},{"id":"b39bb426.0bfe88","type":"link out","z":"58522408.5e1f6c","name":"","links":["10978d6f.293d83"],"x":395,"y":820,"wires":[]},{"id":"6c7e419f.77d4b","type":"link out","z":"58522408.5e1f6c","name":"","links":["10978d6f.293d83"],"x":435,"y":900,"wires":[]},{"id":"90a9229f.08c87","type":"link out","z":"58522408.5e1f6c","name":"","links":["10978d6f.293d83"],"x":435,"y":960,"wires":[]},{"id":"c044201b.033f4","type":"inject","z":"4788f78d.cd37e8","name":"make request","repeat":"","crontab":"","once":false,"onceDelay":"100","topic":"","payload":"XP-Pen","payloadType":"str","x":130,"y":900,"wires":[["d38e6d7d.a7dd9"]]},{"id":"d38e6d7d.a7dd9","type":"http request","z":"4788f78d.cd37e8","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://www.xp-pen.ru/download-445.html","tls":"","persist":false,"proxy":"","authType":"","x":330,"y":900,"wires":[["88ff5336.e12fb","74e4ac5f.b69a64","65fefe1d.a2bed","da0104a7.1b03c8"]]},{"id":"88ff5336.e12fb","type":"html","z":"4788f78d.cd37e8","name":"select version XP-Pen","property":"","outproperty":"","tag":"div.info_right_main:nth-child(3) > div:nth-child(3) > div:nth-child(1) > p:nth-child(1)","ret":"text","as":"multi","x":540,"y":900,"wires":[["b5622293.3de5b","adc8f767.c0b4c8"]]},{"id":"74e4ac5f.b69a64","type":"debug","z":"4788f78d.cd37e8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":470,"y":960,"wires":[]},{"id":"b5622293.3de5b","type":"debug","z":"4788f78d.cd37e8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":690,"y":960,"wires":[]},{"id":"adc8f767.c0b4c8","type":"switch","z":"4788f78d.cd37e8","name":"compare post","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"xpen","vt":"flow"},{"t":"eq","v":"#:(nas)::xpen","vt":"flow"},{"t":"else"}],"checkall":"false","repair":false,"outputs":3,"x":800,"y":840,"wires":[[],[],["5368d3aa.b3711c"]]},{"id":"5368d3aa.b3711c","type":"change","z":"4788f78d.cd37e8","name":"save xpen","rules":[{"t":"set","p":"#:(nas)::xpen","pt":"flow","to":"payload","tot":"msg"},{"t":"set","p":"xpen","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1030,"y":860,"wires":[["3c4bf186.9b081e"]]},{"id":"3c4bf186.9b081e","type":"change","z":"4788f78d.cd37e8","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"XP-Pen","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1270,"y":880,"wires":[["9612ed1.d1b731"]]},{"id":"759305ea.b33b9c","type":"switch","z":"4788f78d.cd37e8","name":"X-Pen init","property":"#:(nas)::xpen","propertyType":"flow","rules":[{"t":"nempty"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":120,"y":560,"wires":[[],["3789eb2d.df9c44"]]},{"id":"3789eb2d.df9c44","type":"change","z":"4788f78d.cd37e8","name":"","rules":[{"t":"set","p":"#:(nas)::xpen","pt":"flow","to":"\" \"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":130,"y":620,"wires":[[]]},{"id":"bed84225.65d3e","type":"inject","z":"20e1011b.60ebfe","g":"464ee1dd.9aefa","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"","payloadType":"date","x":140,"y":120,"wires":[["4c9bc374.cceeec"]]},{"id":"484f3f55.f2ae4","type":"http request","z":"20e1011b.60ebfe","g":"464ee1dd.9aefa","name":"работа","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://samara.rabota.ru/my-resume/publish/28401048","tls":"","persist":false,"proxy":"","authType":"","x":540,"y":120,"wires":[["df4d2bb7.545ea8","ea8d5f89.dca36"]]},{"id":"4c9bc374.cceeec","type":"function","z":"20e1011b.60ebfe","g":"464ee1dd.9aefa","name":"set headers","func":"var cookie = \"csrf=f4e383b387131b09e4d5939ccb52ea601b345b9e; sid=LK2nlweBQ3BGK3XGwvm517mjxfikwmuo; came_from=; jump_id=159505344976420; sendToEmailWasShown=1; frontend:rabota-id:v1=khfi83l0wmqlq8i8pj9yzycgdfc63ad3; _ym_visorc_2020546=w; AB_1=1; tmr_lvidTS=1595053444049; mded=c; rabota_ru_hash=ZGFuZWV2QGdtYWlsLmNvbTozNzM5ODI1OA%3D%3D_3e7a80bc55bb3373211a038a8e724deccbfcfd4a; _gcl_au=1.1.599612372.1595053445; user_id=159505344976420; tmr_lvid=dba0167daaf81350fcac80b8a96ac432; _ym_isad=2; _ym_d=1595053434; _ym_visorc_50951945=w; _gid=GA1.2.17554443.1595053449; _ga=GA1.2.284609088.1595053449; tmr_reqNum=23; AB_1_pred=1; _fbp=fb.1.1595053447985.1134297663; prsid=1; _ym_uid=1595053434992555837; top100_id=t1.-1.926624547.1595053458297; _ym_visorc_50981513=w; user_tags=%5B%7B%22id%22%3A23820749%2C%22add_date%22%3A%222020-07-17%22%2C%22name%22%3A%22search_hardradius_control1%22%7D%2C%7B%22id%22%3A23802952%2C%22add_date%22%3A%222020-07-17%22%2C%22name%22%3A%22hr_vacancy_address_control%22%7D%5D; v3_zabota_reg=daneev%40gmail.com%3B1%3B1597645528; pro_rabota=ZGFuZWV2QGdtYWlsLmNvbTozNzM5ODI1OA%3D%3D_3e7a80bc55bb3373211a038a8e724deccbfcfd4a; auth=1; yaMetricaEcommerceCartId_2020546=shop_25423725; yaMetricaEcommerceCartId_11083246=shop_92448094; device_view=full; last_visit=1595039559882::1595053959882; tmr_detect=0%7C1595053969479\"\n\n\nmsg.headers = {\n    Cookie : cookie,\n    \"User-Agent\" : \"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/70.0.3538.102 Safari/537.36 Edge/18.18363\",\n    Accept : \"*/*\",\n    \"Accept-Language\": \"ru,en-US;q=0.7,en;q=0.3\",\n    \"X-Requested-With\": \"XMLHttpRequest\",\n    \"Accept-Encoding\": \"gzip, deflate, br\",\n    Host: \"samara.rabota.ru\"\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":350,"y":120,"wires":[["484f3f55.f2ae4"]]},{"id":"df4d2bb7.545ea8","type":"debug","z":"20e1011b.60ebfe","g":"464ee1dd.9aefa","name":"","active":false,"console":"false","complete":"false","x":750,"y":120,"wires":[]},{"id":"b22d332.ddc17d","type":"http request","z":"20e1011b.60ebfe","g":"464ee1dd.9aefa","name":"работа","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://samara.rabota.ru/my-resume/promo/28401048","tls":"","persist":false,"proxy":"","authType":"","x":540,"y":240,"wires":[["df4d2bb7.545ea8"]]},{"id":"254c03e3.21d69c","type":"function","z":"20e1011b.60ebfe","g":"464ee1dd.9aefa","name":"set headers","func":"var cookie = \"csrf=f4e383b387131b09e4d5939ccb52ea601b345b9e; sid=LK2nlweBQ3BGK3XGwvm517mjxfikwmuo; came_from=; jump_id=159505344976420; sendToEmailWasShown=1; frontend:rabota-id:v1=khfi83l0wmqlq8i8pj9yzycgdfc63ad3; _ym_visorc_2020546=w; AB_1=1; tmr_lvidTS=1595053444049; mded=c; rabota_ru_hash=ZGFuZWV2QGdtYWlsLmNvbTozNzM5ODI1OA%3D%3D_3e7a80bc55bb3373211a038a8e724deccbfcfd4a; _gcl_au=1.1.599612372.1595053445; user_id=159505344976420; tmr_lvid=dba0167daaf81350fcac80b8a96ac432; _ym_isad=2; _ym_d=1595053434; _ym_visorc_50951945=w; _gid=GA1.2.17554443.1595053449; _ga=GA1.2.284609088.1595053449; tmr_reqNum=23; AB_1_pred=1; _fbp=fb.1.1595053447985.1134297663; prsid=1; _ym_uid=1595053434992555837; top100_id=t1.-1.926624547.1595053458297; _ym_visorc_50981513=w; user_tags=%5B%7B%22id%22%3A23820749%2C%22add_date%22%3A%222020-07-17%22%2C%22name%22%3A%22search_hardradius_control1%22%7D%2C%7B%22id%22%3A23802952%2C%22add_date%22%3A%222020-07-17%22%2C%22name%22%3A%22hr_vacancy_address_control%22%7D%5D; v3_zabota_reg=daneev%40gmail.com%3B1%3B1597645528; pro_rabota=ZGFuZWV2QGdtYWlsLmNvbTozNzM5ODI1OA%3D%3D_3e7a80bc55bb3373211a038a8e724deccbfcfd4a; auth=1; _gat_gtag_UA_3926701_1=1; yaMetricaEcommerceCartId_2020546=shop_25423725; yaMetricaEcommerceCartId_11083246=shop_92448094; device_view=full; last_visit=1595039559882::1595053959882; tmr_detect=0%7C1595053969479\"\n\n\nmsg.headers = {\n    Cookie : cookie,\n    \"User-Agent\" : \"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/70.0.3538.102 Safari/537.36 Edge/18.18363\",\n    Accept : \"*/*\",\n    \"Accept-Language\": \"ru,en-US;q=0.7,en;q=0.3\",\n    \"X-Requested-With\": \"XMLHttpRequest\",\n    \"Accept-Encoding\": \"gzip, deflate, br\",\n    Host: \"samara.rabota.ru\"\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":350,"y":240,"wires":[["b22d332.ddc17d"]]},{"id":"ea8d5f89.dca36","type":"delay","z":"20e1011b.60ebfe","g":"464ee1dd.9aefa","name":"","pauseType":"delay","timeout":"350","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":450,"y":180,"wires":[["254c03e3.21d69c"]]},{"id":"67f2f2ab.f5f27c","type":"eztimer","z":"20e1011b.60ebfe","g":"464ee1dd.9aefa","name":"","debug":false,"autoname":"8:00","tag":"eztimer","suspended":false,"sendEventsOnSuspend":false,"lat":"53.24472","lon":"50.19075","timerType":"2","startupMessage":false,"ontype":"2","ontimesun":"dawn","ontimetod":"8:00","onpropertytype":"msg","onproperty":"payload","onvaluetype":"num","onvalue":1,"onoffset":"180","onrandomoffset":true,"onsuppressrepeats":false,"offtype":"1","offtimesun":"dusk","offtimetod":"dusk","offduration":"00:01:00","offpropertytype":"msg","offproperty":"payload","offvaluetype":"num","offvalue":0,"offoffset":0,"offrandomoffset":0,"offsuppressrepeats":false,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"sun":true,"x":110,"y":180,"wires":[["4c9bc374.cceeec"]]},{"id":"3bddd07b.97de2","type":"eztimer","z":"20e1011b.60ebfe","name":"","debug":false,"autoname":"12:00","tag":"eztimer","suspended":false,"sendEventsOnSuspend":false,"lat":"53.24472","lon":"50.19075","timerType":"2","startupMessage":false,"ontype":"2","ontimesun":"dawn","ontimetod":"12:00","onpropertytype":"msg","onproperty":"payload","onvaluetype":"num","onvalue":1,"onoffset":"360","onrandomoffset":true,"onsuppressrepeats":false,"offtype":"1","offtimesun":"dusk","offtimetod":"dusk","offduration":"00:01:00","offpropertytype":"msg","offproperty":"payload","offvaluetype":"num","offvalue":0,"offoffset":0,"offrandomoffset":0,"offsuppressrepeats":false,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"sun":true,"x":110,"y":240,"wires":[["4c9bc374.cceeec"]]},{"id":"65fefe1d.a2bed","type":"functionx","z":"4788f78d.cd37e8","name":"xpath-html","func":"const xpath = require(\"xpath-html\");\nconst result = xpath.fromPageSource(msg.payload).findElement(\"//p[@class='name_text'][contains(text(), 'PenWin')][1]\");\n\nmsg.payload = {\n    matched: `tag name is ${result.getTagName()}`,\n    text: result.getText(),\n}\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":490,"y":1120,"wires":[["b11467d9.591098"]]},{"id":"386fa581.9a6c5a","type":"inject","z":"4788f78d.cd37e8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":260,"y":1120,"wires":[["65fefe1d.a2bed"]]},{"id":"b11467d9.591098","type":"debug","z":"4788f78d.cd37e8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":740,"y":1120,"wires":[]},{"id":"da0104a7.1b03c8","type":"functionx","z":"4788f78d.cd37e8","d":true,"name":"xpath","func":"const xpath = require('xpath');\nconst dom = require('xmldom').DOMParser;\nconst doc = new dom().parseFromString(msg.payload);\n\nconst result = xpath.select('//div[@class=\"info_right_main\"][2]/descendant::p[@class=\"name_text\"][1]', doc);\n\nmsg.payload = {\n    matched: result[0].toString(),\n    text: result[0].firstChild.data\n}\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":1200,"wires":[["c70bc0a3.28a7"]]},{"id":"4c7d564f.8383b8","type":"inject","z":"4788f78d.cd37e8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"\"<book><title>Harry Potter</title></book>\"","payloadType":"str","x":240,"y":1200,"wires":[["da0104a7.1b03c8"]]},{"id":"c70bc0a3.28a7","type":"debug","z":"4788f78d.cd37e8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":730,"y":1200,"wires":[]},{"id":"2c8f36dd.8a468a","type":"inject","z":"20e1011b.60ebfe","g":"2ca5b2ff.5010be","name":"Параметры запроса","props":[{"p":"payload"},{"p":"lat","v":"53.244946","vt":"num"},{"p":"lon","v":"50.189400","vt":"num"},{"p":"unit_system","v":"si","vt":"str"},{"p":"fields","v":"temp,humidity,precipitation,baro_pressure:mmHg,pm25,pm10,co","vt":"str"},{"p":"apiKey","v":"QUiHHOAweTs9fRaksMTpA45EZd9wh2r9","vt":"str"},{"p":"count","v":"120","vt":"num"}],"repeat":"720","crontab":"","once":true,"onceDelay":"10","topic":"","payload":"","payloadType":"date","x":180,"y":360,"wires":[["c7c2465.e4d6db8"]]},{"id":"c7c2465.e4d6db8","type":"function","z":"20e1011b.60ebfe","g":"2ca5b2ff.5010be","name":"Запрос","func":"msg.headers = {\n    'content-type': 'application/json'\n}\n\nmsg.url = 'https://api.climacell.co/v3/weather/realtime';\n\nmsg.payload = {\n    lat: msg.lat,\n    lon: msg.lon,\n    unit_system: msg.unit_system,\n    fields: msg.fields,\n    apikey: msg.apiKey\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":360,"wires":[["ec487599.8aa638"]]},{"id":"ec487599.8aa638","type":"http request","z":"20e1011b.60ebfe","g":"2ca5b2ff.5010be","name":"","method":"GET","ret":"obj","paytoqs":"query","url":"","tls":"","persist":false,"proxy":"","authType":"","x":550,"y":360,"wires":[["a8f70691.dd5788"]]},{"id":"a8f70691.dd5788","type":"function","z":"20e1011b.60ebfe","g":"2ca5b2ff.5010be","name":"получение данных","func":"//функция добавляющая лидирующий ноль. например 7 -> 07\nconst format = item => (item + 100).toString().slice(1, 3);\n\n//формируем текущие дату и время\nconst today = new Date();\nconst date = `${format(today.getDate())}-${format(today.getMonth()+1)}-${today.getFullYear()}`;\nconst time = `${format(today.getHours())}:${format(today.getMinutes())}`\n\n//формируем объект с данными\nmsg.payload.date = date;\nmsg.payload.time = time;\n\n\n//сохраняем в массив значений\nlet data = flow.get(\"data\") || [];\ndata.splice(0, data.length-msg.count);\ndata.push(msg.payload);\nflow.set(\"data\", data);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":750,"y":360,"wires":[["c82dbc05.d3f0b","a038ed57.cf793"]]},{"id":"c82dbc05.d3f0b","type":"debug","z":"20e1011b.60ebfe","g":"2ca5b2ff.5010be","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":930,"y":360,"wires":[]},{"id":"f6b82dfb.2e92e","type":"inject","z":"20e1011b.60ebfe","g":"2ca5b2ff.5010be","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"600","crontab":"","once":false,"onceDelay":"20","topic":"","payload":"","payloadType":"date","x":150,"y":500,"wires":[["dd8a4c18.b7a12","9c4ab118.f28c8","81fa9b54.02d268"]]},{"id":"95ce28b7.b6f3e8","type":"change","z":"20e1011b.60ebfe","g":"2ca5b2ff.5010be","name":"backup data to NAS","rules":[{"t":"set","p":"#:(nas)::data","pt":"flow","to":"data","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":880,"y":480,"wires":[[]]},{"id":"c0f59d10.e72af","type":"http in","z":"20e1011b.60ebfe","g":"2ca5b2ff.5010be","name":"","url":"/weater","method":"get","upload":false,"swaggerDoc":"","x":130,"y":620,"wires":[["b4d0b2ff.51bc5"]]},{"id":"e4bee86f.df4438","type":"http response","z":"20e1011b.60ebfe","g":"2ca5b2ff.5010be","name":"","statusCode":"","headers":{},"x":670,"y":680,"wires":[]},{"id":"b4d0b2ff.51bc5","type":"change","z":"20e1011b.60ebfe","g":"2ca5b2ff.5010be","name":"load data","rules":[{"t":"set","p":"payload","pt":"msg","to":"data","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":680,"wires":[["82654ea7.1874"]]},{"id":"82654ea7.1874","type":"json","z":"20e1011b.60ebfe","g":"2ca5b2ff.5010be","name":"","property":"payload","action":"","pretty":false,"x":510,"y":680,"wires":[["e4bee86f.df4438"]]},{"id":"4cea582f.2021d8","type":"file","z":"d09ab75b.1e64b8","name":"","filename":"/mnt/nas/test.txt","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":454,"y":110,"wires":[[]]},{"id":"4e498201.878b4c","type":"inject","z":"d09ab75b.1e64b8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"test NAS","payloadType":"str","x":194,"y":110,"wires":[["4cea582f.2021d8"]]},{"id":"37795c6c.7d94a4","type":"file","z":"d09ab75b.1e64b8","name":"","filename":"/mnt/yandex.disk/testYansexDAV.txt","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":654,"y":170,"wires":[[]]},{"id":"af8a5bad.c5e848","type":"inject","z":"d09ab75b.1e64b8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"test YandexDAV from NR","payloadType":"str","x":294,"y":170,"wires":[["37795c6c.7d94a4"]]},{"id":"e2dc7ce7.e2956","type":"change","z":"20e1011b.60ebfe","g":"2ca5b2ff.5010be","name":"restore data from NAS","rules":[{"t":"set","p":"data","pt":"flow","to":"#:(nas)::data","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":880,"y":520,"wires":[[]]},{"id":"30de5852.762c28","type":"switch","z":"20e1011b.60ebfe","g":"2ca5b2ff.5010be","name":"","property":"#:(nas)::data.length","propertyType":"flow","rules":[{"t":"lte","v":"data.length","vt":"flow"},{"t":"gt","v":"data.length","vt":"flow"}],"checkall":"true","repair":false,"outputs":2,"x":570,"y":500,"wires":[["95ce28b7.b6f3e8"],["e2dc7ce7.e2956"]]},{"id":"75a9607c.c14d7","type":"change","z":"20e1011b.60ebfe","g":"2ca5b2ff.5010be","name":"","rules":[{"t":"set","p":"#:(nas)::data","pt":"flow","to":"[]","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":580,"wires":[[]]},{"id":"9c4ab118.f28c8","type":"switch","z":"20e1011b.60ebfe","g":"2ca5b2ff.5010be","name":"","property":"#:(nas)::data","propertyType":"flow","rules":[{"t":"istype","v":"undefined","vt":"undefined"}],"checkall":"true","repair":false,"outputs":1,"x":430,"y":580,"wires":[["75a9607c.c14d7"]]},{"id":"aabc070.1f59af8","type":"change","z":"20e1011b.60ebfe","g":"2ca5b2ff.5010be","name":"","rules":[{"t":"set","p":"data","pt":"flow","to":"[]","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":620,"wires":[[]]},{"id":"81fa9b54.02d268","type":"switch","z":"20e1011b.60ebfe","g":"2ca5b2ff.5010be","name":"","property":"data","propertyType":"flow","rules":[{"t":"istype","v":"undefined","vt":"undefined"}],"checkall":"true","repair":false,"outputs":1,"x":430,"y":620,"wires":[["aabc070.1f59af8"]]},{"id":"dd8a4c18.b7a12","type":"delay","z":"20e1011b.60ebfe","g":"2ca5b2ff.5010be","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":400,"y":500,"wires":[["30de5852.762c28"]]},{"id":"6e5f09c9.07a838","type":"function","z":"20e1011b.60ebfe","name":"callback","func":"flow.get(\"data\", \"nas\", (err, data) => {\n    if (err) {\n        node.error(err, msg);\n    } else {\n        msg.payload = data.length;\n        node.send(msg)\n    }\n})","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":1100,"wires":[["22d74210.41d0fe"]]},{"id":"102c3e02.90e9e2","type":"inject","z":"20e1011b.60ebfe","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":210,"y":1100,"wires":[["6e5f09c9.07a838"]]},{"id":"22d74210.41d0fe","type":"debug","z":"20e1011b.60ebfe","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":580,"y":1100,"wires":[]},{"id":"47285c87.ad2d74","type":"debug","z":"600c441d.148fac","g":"555c4b8b.208494","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":510,"y":800,"wires":[]},{"id":"40553aa6.a46924","type":"debug","z":"600c441d.148fac","g":"a61b8cc2.a8a42","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1010,"y":420,"wires":[]},{"id":"3255d46b.1f0dec","type":"addEvent","z":"600c441d.148fac","g":"a61b8cc2.a8a42","google":"9c50db50.498e88","calendarId2":"daneev@gmail.com","tittle":"Задача","description":"настроить Битрикс24","location":"","time":"08/02/2020 12:00 AM - 08/06/2020 11:59 PM","attend":"0","email1":"abc@example.com","name1":"ABC","email2":"","name2":"","email3":"","name3":"","email4":"","name4":"","email5":"","name5":"","x":810,"y":420,"wires":[["40553aa6.a46924","9e0e6bab.0be8f8"]]},{"id":"d778f34b.18d02","type":"http request","z":"600c441d.148fac","g":"a61b8cc2.a8a42","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://daneev.bitrix24.ru/rest/1/fu0rwlvtj41vet6w/tasks.task.list/","tls":"","persist":false,"proxy":"","authType":"","x":330,"y":140,"wires":[["ddfcfe71.c55ae","b26c0b72.1d9a68"]]},{"id":"ddfcfe71.c55ae","type":"debug","z":"600c441d.148fac","g":"a61b8cc2.a8a42","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":550,"y":140,"wires":[]},{"id":"b26c0b72.1d9a68","type":"function","z":"600c441d.148fac","g":"a61b8cc2.a8a42","name":"Bitrix add new to array","func":"flow.set(\"Bitrix24-tasks\", flow.get(\"Bitrix24-tasks\") || [])\nlet tasks = msg.payload.result.tasks.filter(item => item.status !=5);\nlet data = tasks.map(item => { \n                    return {\n                        id: item.id,\n                        status: \"b\",\n                        Calendar: flow.get(\"CalendarId\"), \n                        tittle: item.title,\n                        start: item.startDatePlan || item.createdDate,\n                        end: item.endDatePlan || item.deadline,\n                        description: item.description,\n                        location: ''\n                    }\n                });\n                \n//\nlet arhive = flow.get(\"Bitrix24-tasks\").map(item => item.id);\nmsg.payload = data.filter(item => !(arhive.includes(item.id)));\nif (msg.payload.length === 0) return [null, msg];\nflow.set(\"Bitrix24-tasks\", [].concat(flow.get(\"Bitrix24-tasks\"), msg.payload).sort((a, b) => a.id - b.id ));\nreturn [msg, null];\n\n\n// let oldItem = flow.get(\"Bitrix24-tasks\").filter(item => !(numId.includes(item.id)))    \n// msg.payload = flow.get(\"Bitrix24-tasks\").filter(item => numId.includes(item.id)).map(item => ({...item, status: \"g\"}));\n\n// flow.set(\"Bitrix24-tasks\", [...msg.payload, ...oldItem].sort( (a, b) => a.id - b.id ));","outputs":2,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\nflow.set(\"CalendarId\", \"daneev@gmail.com\");\n","finalize":"","x":220,"y":200,"wires":[["e4197819.9da528"],[]]},{"id":"5d2a1266.1876ec","type":"debug","z":"600c441d.148fac","g":"a61b8cc2.a8a42","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":790,"y":360,"wires":[]},{"id":"5d711765.118268","type":"split","z":"600c441d.148fac","g":"a61b8cc2.a8a42","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":210,"y":360,"wires":[["31eb4064.2e9f7"]]},{"id":"31eb4064.2e9f7","type":"function","z":"600c441d.148fac","g":"a61b8cc2.a8a42","name":"","func":"msg = msg.payload\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":360,"wires":[["9c6bd7c5.702d28"]]},{"id":"4f06e447.ea031c","type":"GetEvent","z":"600c441d.148fac","g":"555c4b8b.208494","google":"9c50db50.498e88","calendarId":"daneev@gmail.com","time":"08/02/2020 12:00 AM - 08/02/2020 01:00 PM","x":260,"y":840,"wires":[["47285c87.ad2d74","f049c759.cbfa48"]]},{"id":"9c6bd7c5.702d28","type":"delay","z":"600c441d.148fac","g":"a61b8cc2.a8a42","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"3","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":600,"y":360,"wires":[["5d2a1266.1876ec","3255d46b.1f0dec"]]},{"id":"14236d8f.884bc2","type":"inject","z":"600c441d.148fac","g":"555c4b8b.208494","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":840,"y":860,"wires":[["85b9a3d3.faad6"]]},{"id":"b592327c.0005f","type":"debug","z":"600c441d.148fac","g":"555c4b8b.208494","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1010,"y":1000,"wires":[]},{"id":"d91632f1.7565b","type":"function","z":"600c441d.148fac","g":"555c4b8b.208494","name":"Delete task in Bitrix","func":"msg.headers = {};\nmsg.headers['Content-Type'] = 'application/json';\n\nlet numTask = msg.payload;\n\nmsg.payload = {\n      taskId: numTask \n    }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":210,"y":1000,"wires":[["180b7eea.0684a1"]]},{"id":"180b7eea.0684a1","type":"json","z":"600c441d.148fac","g":"555c4b8b.208494","name":"","property":"payload","action":"","pretty":false,"x":410,"y":1000,"wires":[["6bcbc26e.a0c47c"]]},{"id":"8c7ed29b.3b7d4","type":"http request","z":"600c441d.148fac","g":"555c4b8b.208494","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://daneev.bitrix24.ru/rest/1/fu0rwlvtj41vet6w/tasks.task.delete.json/?REGISTER_SONET_EVENT=Y","tls":"","persist":false,"proxy":"","authType":"","x":810,"y":1000,"wires":[["b592327c.0005f"]]},{"id":"c0a2d0a9.edcab","type":"GetEvent","z":"600c441d.148fac","g":"a61b8cc2.a8a42","google":"9c50db50.498e88","calendarId":"daneev@gmail.com","time":"08/02/2020 12:00 AM - 08/02/2020 01:00 PM","x":700,"y":240,"wires":[["509c1c5d.af2074","c1b2a25f.1e169"]]},{"id":"be412de5.7bd1e","type":"inject","z":"600c441d.148fac","g":"a61b8cc2.a8a42","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"300","crontab":"","once":true,"onceDelay":"5","topic":"","payload":"","payloadType":"date","x":130,"y":140,"wires":[["d778f34b.18d02"]]},{"id":"509c1c5d.af2074","type":"debug","z":"600c441d.148fac","g":"a61b8cc2.a8a42","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":910,"y":240,"wires":[]},{"id":"c1b2a25f.1e169","type":"function","z":"600c441d.148fac","g":"a61b8cc2.a8a42","name":"select task","func":"const serial = ({Title, StartDate, EndDate}) => Title + StartDate + EndDate;\nmsg.payload.shift();\nflow.set(\"google\", msg.payload);\nlet google = flow.get(\"google\").map(item => serial(item));\n\n// msg.payload = `google ${google}`;\n// node.send(msg);\n\nconst zero = (arg) => arg[0] === \"0\" ? arg[1] : arg;\nconst format = (str) => str.substr(0, 4) + \"/\" + zero(str.substr(5, 2)) + \"/\" + zero(str.substr(8, 2)) + \" \" + str.substr(11, 5);\nconst serial2 = ({tittle, start, end}) => tittle + format(start) + format(end);\n\nlet bitrix = flow.get(\"Bitrix24-tasks\").map(item => ({id: item.id, status: item.status, description: serial2(item)}))\n    .filter(item => item.status === \"b\")\n\nlet numId = bitrix.map(item => google.includes(item.description) ? null : item.id)\n    .filter(item => item !== null);\n\n// msg.payload = `numId ${numId}`;\n// node.send(msg);   \n\nlet oldItem = flow.get(\"Bitrix24-tasks\").filter(item => !(numId.includes(item.id)))    \nmsg.payload = flow.get(\"Bitrix24-tasks\").filter(item => numId.includes(item.id)).map(item => ({...item, status: \"g\"}));\n\nflow.set(\"Bitrix24-tasks\", [...msg.payload, ...oldItem].sort( (a, b) => a.id - b.id ));    \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":210,"y":300,"wires":[["5d711765.118268","92c21a1c.0787f8"]]},{"id":"296b7171.61a42e","type":"debug","z":"600c441d.148fac","g":"a61b8cc2.a8a42","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":710,"y":200,"wires":[]},{"id":"e4197819.9da528","type":"function","z":"600c441d.148fac","g":"a61b8cc2.a8a42","name":"Data min/max","func":"let dataMinMax = flow.get(\"dataMinMax\");\nmsg.payload = dataMinMax();\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":220,"wires":[["c0a2d0a9.edcab","296b7171.61a42e"]]},{"id":"f5bed978.aa8818","type":"trigger","z":"600c441d.148fac","name":"","op1":"","op2":"true","op1type":"nul","op2type":"bool","duration":"30","extend":true,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":490,"y":580,"wires":[["de05f352.744dd","1b4fd46a.ec9f1c","1b9e65b.de5539a"]]},{"id":"8292387f.9e3148","type":"inject","z":"600c441d.148fac","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":300,"y":520,"wires":[["f5bed978.aa8818"]]},{"id":"de05f352.744dd","type":"debug","z":"600c441d.148fac","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":830,"y":520,"wires":[]},{"id":"f049c759.cbfa48","type":"function","z":"600c441d.148fac","g":"555c4b8b.208494","name":"select task","func":"const serial = ({Title, StartDate, EndDate}) => Title + StartDate + EndDate;\nmsg.payload.shift();\nflow.set(\"google\", msg.payload);\nlet google = flow.get(\"google\").map(item => serial(item));\n\nconst zero = (arg) => arg[0] === \"0\" ? arg[1] : arg;\nconst format = (str) => str.substr(0, 4) + \"/\" + zero(str.substr(5, 2)) + \"/\" + zero(str.substr(8, 2)) + \" \" + str.substr(11, 5);\nconst serial2 = ({tittle, start, end}) => tittle + format(start) + format(end);\n\nlet bitrix = flow.get(\"Bitrix24-tasks\").map(item => ({id: item.id, status: item.status, description: serial2(item)}))\n    .filter(item => item.status === \"g\")\n\nlet numId = bitrix.map(item => google.includes(item.description) ? null : item.id)\n    .filter(item => item !== null);\n\nflow.set(\"deleteTask\", numId.length ? numId : null )    \n\nlet oldItem = flow.get(\"Bitrix24-tasks\").filter(item => !(numId.includes(item.id)))    \n//msg.payload = flow.get(\"Bitrix24-tasks\").filter(item => numId.includes(item.id)).map(item => ({...item, status: \"g\"}));\n\nflow.set(\"Bitrix24-tasks\", oldItem.sort( (a, b) => a.id - b.id ));    \nmsg.payload = numId \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":250,"y":920,"wires":[["8440a4df.094428","f8bf2e6c.b88a8"]]},{"id":"1b4fd46a.ec9f1c","type":"delay","z":"600c441d.148fac","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":760,"y":580,"wires":[["bdd6dae7.649358"]]},{"id":"8440a4df.094428","type":"debug","z":"600c441d.148fac","g":"555c4b8b.208494","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":510,"y":860,"wires":[]},{"id":"92c21a1c.0787f8","type":"debug","z":"600c441d.148fac","g":"a61b8cc2.a8a42","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":430,"y":300,"wires":[]},{"id":"c85279bd.d945b8","type":"inject","z":"600c441d.148fac","g":"555c4b8b.208494","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"300","crontab":"","once":true,"onceDelay":"120","topic":"","payload":"","payloadType":"date","x":130,"y":700,"wires":[["a42bdffd.d2f66"]]},{"id":"a42bdffd.d2f66","type":"function","z":"600c441d.148fac","g":"555c4b8b.208494","name":"Data min/max","func":"let dataMinMax = flow.get(\"dataMinMax\");\nmsg.payload = dataMinMax();\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":700,"wires":[["13b24d02.7a1eb3"]]},{"id":"85b9a3d3.faad6","type":"split","z":"600c441d.148fac","g":"555c4b8b.208494","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":1010,"y":920,"wires":[["d91632f1.7565b"]]},{"id":"f9e18bb0.eded58","type":"delay","z":"600c441d.148fac","g":"555c4b8b.208494","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":660,"y":920,"wires":[["a52c2fb3.43475"]]},{"id":"a52c2fb3.43475","type":"change","z":"600c441d.148fac","g":"555c4b8b.208494","name":"deleteTask","rules":[{"t":"set","p":"payload","pt":"msg","to":"deleteTask","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":920,"wires":[["85b9a3d3.faad6"]]},{"id":"6bcbc26e.a0c47c","type":"delay","z":"600c441d.148fac","g":"555c4b8b.208494","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"3","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":600,"y":1000,"wires":[["8c7ed29b.3b7d4"]]},{"id":"f8bf2e6c.b88a8","type":"switch","z":"600c441d.148fac","g":"555c4b8b.208494","name":"not null","property":"payload","propertyType":"msg","rules":[{"t":"nempty"}],"checkall":"true","repair":false,"outputs":1,"x":500,"y":920,"wires":[["f9e18bb0.eded58"]]},{"id":"13b24d02.7a1eb3","type":"switch","z":"600c441d.148fac","g":"555c4b8b.208494","name":"filter","property":"timemin","propertyType":"flow","rules":[{"t":"cont","v":"Invalid","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":290,"y":760,"wires":[[],["4f06e447.ea031c"]]},{"id":"9e0e6bab.0be8f8","type":"link out","z":"600c441d.148fac","g":"a61b8cc2.a8a42","name":"","links":["b2c79c2a.33b32"],"x":935,"y":360,"wires":[]},{"id":"b2c79c2a.33b32","type":"link in","z":"600c441d.148fac","name":"","links":["9e0e6bab.0be8f8"],"x":255,"y":580,"wires":[["f5bed978.aa8818"]]},{"id":"1b9e65b.de5539a","type":"link out","z":"600c441d.148fac","name":"","links":["c68556ec.3064e8"],"x":655,"y":520,"wires":[]},{"id":"c68556ec.3064e8","type":"link in","z":"600c441d.148fac","g":"a61b8cc2.a8a42","name":"","links":["1b9e65b.de5539a"],"x":335,"y":240,"wires":[["e4197819.9da528"]]},{"id":"2db02908.909206","type":"link in","z":"600c441d.148fac","g":"555c4b8b.208494","name":"","links":["bdd6dae7.649358"],"x":115,"y":760,"wires":[["a42bdffd.d2f66"]]},{"id":"bdd6dae7.649358","type":"link out","z":"600c441d.148fac","name":"","links":["2db02908.909206"],"x":895,"y":580,"wires":[]},{"id":"b5b27f9d.394ad","type":"catch","z":"20e1011b.60ebfe","g":"2ca5b2ff.5010be","name":"","scope":["ec487599.8aa638"],"uncaught":false,"x":730,"y":740,"wires":[["c19ffddb.02895"]]},{"id":"c19ffddb.02895","type":"debug","z":"20e1011b.60ebfe","g":"2ca5b2ff.5010be","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":910,"y":740,"wires":[]},{"id":"30dd4303.77663c","type":"catch","z":"600c441d.148fac","g":"555c4b8b.208494","name":"","scope":null,"uncaught":false,"x":650,"y":720,"wires":[["f0df4499.769808"]]},{"id":"f0df4499.769808","type":"debug","z":"600c441d.148fac","g":"555c4b8b.208494","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"error","targetType":"msg","statusVal":"","statusType":"auto","x":890,"y":720,"wires":[]},{"id":"e04fea85.ca3098","type":"inject","z":"20e1011b.60ebfe","g":"2ca5b2ff.5010be","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":740,"wires":[["53384efc.4b85c"]]},{"id":"53384efc.4b85c","type":"function","z":"20e1011b.60ebfe","g":"2ca5b2ff.5010be","name":"correct data","func":"let data = flow.get(\"data\");\n//data.splice(10, 1, \"Error\");\nfor (let i = 0; i <= data.length; i++) {\n    try {\n        if (typeof(data[i]) === \"string\" || data[i].message || !(data[i].temp.value)){\n          node.send({payload: { \"i\":i, \"data\": data[i]}});\n          let temp = data[i-1];\n          if (typeof(temp) === \"object\"){\n              node.send({payload: {\"newdata\": temp}});\n              data.splice(i, 1, temp);\n          }\n        }\n    }\n    catch (err) {\n        node.error(err, msg);\n    }\n}\nflow.set(\"data\", data);\nmsg.payload = data;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":350,"y":740,"wires":[["41b85dde.b67db4","e4bee86f.df4438"]]},{"id":"41b85dde.b67db4","type":"debug","z":"20e1011b.60ebfe","g":"2ca5b2ff.5010be","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":550,"y":740,"wires":[]},{"id":"4bdacb54.81f4d4","type":"http in","z":"20e1011b.60ebfe","g":"2ca5b2ff.5010be","name":"","url":"/weater/error","method":"get","upload":false,"swaggerDoc":"","x":150,"y":680,"wires":[["53384efc.4b85c"]]},{"id":"268760fd.51a83","type":"function","z":"20e1011b.60ebfe","name":"Error","func":"let data = flow.get(\"data\");\ndata.splice(30, 1, \"Error\");\nflow.set(\"data\", data);\nmsg.payload = data;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":1200,"wires":[["2c0c07b6.c3b738"]]},{"id":"2c0c07b6.c3b738","type":"debug","z":"20e1011b.60ebfe","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":560,"y":1200,"wires":[]},{"id":"e5bcb35a.04dc2","type":"inject","z":"20e1011b.60ebfe","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":1200,"wires":[["268760fd.51a83"]]},{"id":"a038ed57.cf793","type":"function","z":"20e1011b.60ebfe","g":"2ca5b2ff.5010be","name":"correct data","func":"try {\n    if (typeof(msg.payload) === \"string\" || msg.payload.message || !(msg.payload.temp.value)){\n      node.send({payload: { \"Error\": msg.payload }});\n      flow.get(\"data\").pop();\n    }\n}\ncatch (err) {\n    node.error(err, msg);\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":690,"y":420,"wires":[["5e4b62de.2c69fc"]]},{"id":"5e4b62de.2c69fc","type":"debug","z":"20e1011b.60ebfe","g":"2ca5b2ff.5010be","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":910,"y":420,"wires":[]},{"id":"f453b0f6.618da","type":"inject","z":"20e1011b.60ebfe","g":"2ca5b2ff.5010be","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"test Error","payloadType":"str","x":480,"y":420,"wires":[["a038ed57.cf793"]]},{"id":"81280488.9ede98","type":"function","z":"20e1011b.60ebfe","name":"correct data","func":"try {\n    if (typeof(msg.payload) === \"string\"){\n      node.send({payload: { \"Error\": msg.payload }});\n      let data = flow.get(\"data\")[flow.get(\"data\").length-2];\n      if (typeof(data) === \"object\"){\n          node.send({payload: {\"newdata\": data}});\n          flow.get(\"data\").pop();\n          flow.get(\"data\").push(data);\n      }\n    }\n}\ncatch (err) {\n    node.error(err, msg);\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":130,"y":880,"wires":[[]]},{"id":"a486675d.cdba98","type":"function","z":"600c441d.148fac","name":"function Data min/max","func":"","outputs":1,"noerr":0,"initialize":"function dataMin(dateNow) {return dateNow.setMonth(dateNow.getMonth())};\n\nfunction dataMax(dateNow) {return dateNow.setMonth(dateNow.getMonth()+1)};\n\n\nfunction dataMinMax() {\nlet dateNow = new Date();\nlet min = flow.get(\"Bitrix24-tasks\").map(item => Date.parse(item.start)).sort();\nlet max = flow.get(\"Bitrix24-tasks\").map(item => Date.parse(item.end)).sort();\n\nflow.set(\"timemin\", new Date(min[0] || dataMin(dateNow)));\nflow.set(\"timemax\", new Date(max[max.length-1] || dataMax(dateNow)));\n\nlet result = { timemin : flow.get(\"timemin\"),\n                timemax : flow.get(\"timemax\")\n            };\nreturn result;\n}\nflow.set(\"dataMinMax\", dataMinMax);","finalize":"","x":500,"y":500,"wires":[[]]},{"id":"9a4bd4da.d7eea8","type":"function","z":"600c441d.148fac","name":"","func":"msg.payload = flow.get(\"Bitrix24-tasks\").map(item => Date.parse(item.end)).sort();\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1070,"y":560,"wires":[["7cb50a71.fea984"]]},{"id":"2e8f8c6d.5ae404","type":"inject","z":"600c441d.148fac","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1010,"y":500,"wires":[["9a4bd4da.d7eea8"]]},{"id":"7cb50a71.fea984","type":"debug","z":"600c441d.148fac","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1080,"y":620,"wires":[]}]